%h2 Question Set Details

%dl
  %dt Name
  %dd= @question_set.name
  %dt Possible combinations
  %dd=@question_set.combinations.size
  
  %pre=# @question_set.combinations.map{|x| x.join('-')}.join("\n")