%section#search_scenarios_box
  = link_to "Maak een nieuwe EnergyMix", new_scenario_path, :class => 'shell'
  %h2 Bekijk de EnergyMixes van anderen
  = form_tag scenarios_path, :method => :get do
    = text_field_tag :q, params[:q], :placeholder => 'Zoeken'
