.clear
  clear: both
.hidden
  display: none
a
  &.shell
    @include link_arrow_prefix
    text-decoration: none
    font-weight: bold
    &:hover
      text-decoration: underline

section#search_scenarios_box
  padding: 10px
  @include shell_gradient_layer
  h3
    margin: 15px 0
    font-weight: bold
    font-size: 14px
  input
    width: 390px
    padding: 5px
