.dashboard_item
  margin-bottom: 10px
  height: 100px
  width: 140px
  background: #F5F5F5
  text-align: center
  h3
    text-align: right
    padding: 5px
    color: #073571
  .value
    overflow: hidden
    font-size: 1.6em
    padding: 5px
    margin-top: 20px
    text-align: right
    font-weight: bold
    color: #073574
  &.energy_dependence_step_0
    @include gauge_6
  &.energy_dependence_step_1
    @include gauge_5
  &.energy_dependence_step_2
    @include gauge_4
  &.energy_dependence_step_3
    @include gauge_3
  &.energy_dependence_step_4
    @include gauge_2
  &.energy_dependence_step_5
    @include gauge_1
  &.energy_dependence_step_6
    @include gauge_0
  &.co2_emission_percent_change_from_1990_corrected_for_electricity_import_step_0
    @include gauge_6
  &.co2_emission_percent_change_from_1990_corrected_for_electricity_import_step_1
    @include gauge_5
  &.co2_emission_percent_change_from_1990_corrected_for_electricity_import_step_2
    @include gauge_4
  &.co2_emission_percent_change_from_1990_corrected_for_electricity_import_step_3
    @include gauge_3
  &.co2_emission_percent_change_from_1990_corrected_for_electricity_import_step_4
    @include gauge_2
  &.co2_emission_percent_change_from_1990_corrected_for_electricity_import_step_5
    @include gauge_1
  &.co2_emission_percent_change_from_1990_corrected_for_electricity_import_step_6
    @include gauge_0
  &.share_of_renewable_energy_step_0
    @include gauge_0
  &.share_of_renewable_energy_step_1
    @include gauge_1
  &.share_of_renewable_energy_step_2
    @include gauge_2
  &.share_of_renewable_energy_step_3
    @include gauge_3
  &.share_of_renewable_energy_step_4
    @include gauge_4
  &.share_of_renewable_energy_step_5
    @include gauge_5
  &.share_of_renewable_energy_step_6
    @include gauge_6
  &.area_footprint_per_nl_step_0
    @include gauge_6
  &.area_footprint_per_nl_step_1
    @include gauge_5
  &.area_footprint_per_nl_step_2
    @include gauge_4
  &.area_footprint_per_nl_step_3
    @include gauge_3
  &.area_footprint_per_nl_step_4
    @include gauge_2
  &.area_footprint_per_nl_step_5
    @include gauge_1
  &.area_footprint_per_nl_step_6
    @include gauge_0
