body
  width: 750px
  margin: 10px auto
  header
    nav#top
      padding: 1em
  section#breadcrumbs
    nav
      font-size: .9em
      color: #999999
      padding: 10px
      a:hover
        text-decoration: underline
  footer
    padding: 5px
    clear: both
    text-align: center
    a
      color: #666666
    a:hover
      text-decoration: underline
  