body
  &#scenarios_show
    section#left
      section#description
        padding: 10px
        margin-bottom: 8px
        height: 410px
        line-height: 18px
        h1
          font-size: 1.2em
          font-weight: bold
          margin-bottom: 5px
        h2
          font-size: 1.1em
          font-weight: bold
          margin-bottom: 5px
    section#right
      section#text
        padding: 8px
        height: 92px
        margin-bottom: 8px
      section#charts
        section#user_chart
          float: left
          margin-right: 6px
        section#current_chart
          height: 432px
          width: 65px
          float: left
 
  &#scenarios_compare
    section#left
      .full_chart
        float: right
    section#right
      section#select
        height: 88px
        padding: 10px
        margin-bottom: 10px
    section#main
      text-align: center
  div.question_popup
    h1
      font-size: 14px
      font-weight: bold
      margin-bottom: 15px
  .scenario_answers
    h2
      font-size: 1.5em
      font-weight: bold
      margin-bottom: 20px
    dl
      dt
        font-weight: bold
        margin-bottom: 2px
      dd
        margin-bottom: 12px
