@import "reset"
@import "mixins"

body.admin
  font-family: helvetica
  margin: 0
  padding: 0
  header
    margin: 0
    background-color: #777
    @include gradient(#555555, #999999)
    h1
      margin: 0
      padding: .5em
      color: white
    nav
      padding: .5em
      margin: 0
      background-color: #ccc
      @include gradient(#eeeeee, #cccccc)
      a
        padding-right: 1em
        margin-right: 1em
        border-right: 1px solid #ffffff
        text-decoration: none
        &.active
          color: white
      .login_box
        font-size: .8em
        float: right
  a
    color: #000066
    text-decoration: underline
    &:hover
      color: red
  #content
    padding: .5em
    h1
      font-size: 1.8em
      font-weight: bold
    h2
      font-size: 1.5em
      font-weight: bold
      margin: .75em .3em
    #actions
      margin-top: .5em
      border: 1px solid #eeeeee
      padding: 1em 0.5em
      @include gradient(#eeeeee, #ffffff)
      a
        text-decoration: none
        margin-right: 1em
  .flash
    text-align: center
    border: 1px solid
    margin: .5em
    padding: 1em
    font-weight: bold
  .flash#alert
    color: red
    background-color: #FDBBBC
  .flash#notice
    color: green
    background-color: #7BFF76
  dl.admin
    dt
      font-weight: bold
    dd
      margin-left: 10px
      margin: 5px

nav.pagination
  text-align: center
  border: 1px solid #eee
  padding: .5em
  margin-top: .5em

table
  tr
    td.no_padding
      padding: 0
dl.small
  font-size: .7em
  dt
    font-weight: bold

@import "table.striped"

body.answers
  form
    ul
      li
        font-weight: bold
        ol
          margin: 1em 0
          li
            font-weight: normal
            font-size: .9em
body#questions_show
  .question
    @include shaded_box
    padding: 1em
    margin-bottom: 1em
