body
  font-family: helvetica
  margin: 0
  padding: 0
  header
    margin: 0
    background-color: #777
    h1
      margin: 0
      padding: .5em
      color: white
    nav
      padding: .5em
      margin: 0
      background-color: #ccc
      a
        color: black
        text-decoration: none
        &:hover
          color: red
  .content
    padding: .5em
    