body
  font-family: verdana, helvetica
  font-size: 11px
  header
    border-bottom: 1px solid #ccc
    margin-bottom: 20px
    h1
      font-weight: bold
    nav
      padding: 1em
      a
        font-size: 1.2em
  