body
  font-family: helvetica
  margin: 0
  padding: 0
  header
    margin: 0
    background-color: #777
    h1
      margin: 0
      padding: .5em
      color: white
    nav
      padding: .5em
      margin: 0
      background-color: #ccc
      a
        color: black
        text-decoration: none
        &:hover
          color: red
  .content
    padding: .5em
    ap

#pages_home
  #questions
    .question
      border: 1px solid #eee
      padding: .5em
      margin-bottom: .2em
      fieldset
        legend
          display: none
        .question_text
          line-height: 20px
        .answer
          padding: .2em
