form.formtastic
  fieldset
    border: 1px solid #ccc
    margin: .5em
    padding: .5em
    ol
      li
        margin-bottom: 0
    label
      font-size: .9em
    textarea
      font-size: .8em
    input[type=text]
      font-size: .8em
      padding: .5em
