@import 'mixins'

section#bottom
  @include shadow(#eee)
  @include gradient(#fdfdfd, #eee)
  table#carriers
    tr
      th
        text-align: left
        padding: 3px
      td
        padding: 3px
        border: 1px solid #ddd

section#results
  #total_amount
    color: #0B3378
    @include shadow(#eee)
    @include gradient(#fdfdfd, #eee)
    text-align: center
    h4
      font-weight: bold
  #graph_container
    margin: 10px auto
    table
      text-align: center
      margin: 0 auto
      td
        padding: 3px
        &.carriers
          width: 110px
          #graph
            height: 320px
            position: relative
            background: #fff
            ul
              position: absolute
              bottom: 0px
              left: 10px
              width: 90px
              li
                height: 60px
                margin-bottom: 2px
                text-decoration: none
                color: white
                font-size: 8px
                font-weight: bold
            &.cilinder
              ul
                li
                  &.oil
                    background: url('/images/texture_oil.png')
                  &.gas
                    background: url('/images/texture_gas.png')
                  &.coal
                    background: url('/images/texture_coal.png')
                  &.renewable
                    background: url('/images/texture_renewable.png')
                  &.nuclear
                    background: url('/images/texture_nuclear.png')
            &.solid
              ul
                li
                  &.oil
                    background: #413E3D
                  &.gas
                    background: #7D9DDD
                  &.coal
                    background: #573403
                  &.nuclear
                    background: #FCDA0B
                  &.renewable
                    background: #39BF06          
        &.money
          .background
            width: 20px
            height: 320px
            background: #eee
            position: relative
            .coins
              width: 21px
              background: #C7CB09 url('images/coin_texture.png')
              height: 50px
              position: absolute
              bottom: 0px


section#dashboard
  .item
    margin-bottom: 10px
    height: 80px
    @include shadow(#eee)
    @include gradient(#fdfdfd, #eee)
    text-align: center
    h3
      text-align: right
      padding: 5px
      font-weight: bold
      font-size: .7em
      color: #073571
    .value
      overflow: hidden
      font-size: 1.6em
      padding: 5px
      margin-top: 20px
      text-align: right
      font-weight: bold
      color: #073574

section#questions
  @include gradient(#fdfdfd, #eee)
  @include shadow(#ddd)
  line-height: 1.5em
  background-color: #eee
  nav
    @include gradient(#fdfdfd, #eee)
    display: block
    text-align: center
    height: 20px
    padding: 4px
    font-size: 10px
    a
      margin: 0 5px
      color: #bbb
      font-weight: bold      
    &#up
      a.active
        color: red
    &#down
  .question
    padding: 10px
    float: left
    clear: both
    width: 365px
    .information
      margin-bottom: 5px
    .number
      font-weight: bold
      width: 5%
      float: left
    .question_text
      font-weight: bold
      width: 95%
      float: left
    .answers
      border-top: 1px solid #ccc
      float: left
      clear: both
      width: 365px
      margin-top: 5px
      padding-top: 5px
      .answer
        float: left
        width: 365px
        clear: both
        margin-bottom: 10px
        .letter
          float: left
          width: 5%
          font-weight: bold
        .answer_text
          float: left
          width: 95%
        input[type=radio]
          display: none
        label.active
          background: #000
          color: #f00
