@import 'mixins'
@import 'mixer.graph'

section#bottom
  @include shadow(#eee)
  @include gradient(#fdfdfd, #eee)
  table#carriers
    tr
      th
        text-align: left
        padding: 3px
      td
        padding: 3px
        border: 1px solid #ddd

section#results
section#dashboard
  // The graph and dashboard items style is defined in mixer.graph.sass

section#questions
  @include gradient(#fdfdfd, #eee)
  @include shadow(#ddd)
  line-height: 1.5em
  background-color: #eee
  nav
    @include gradient(#fdfdfd, #eee)
    display: block
    text-align: center
    height: 20px
    padding: 4px
    font-size: 10px
    a
      margin: 0 5px
      color: #bbb
      font-weight: bold      
    &#up
      a.active
        color: red
    &#down
  .question
    padding: 10px
    float: left
    clear: both
    width: 365px
    .information
      margin-bottom: 5px
      strong
        font-weight: bold
      a
        color: blue
    .number
      font-weight: bold
      width: 5%
      float: left
    .question_text
      font-weight: bold
      width: 95%
      float: left
    .answers
      border-top: 1px solid #ccc
      float: left
      clear: both
      width: 365px
      margin-top: 5px
      padding-top: 5px
      .answer
        float: left
        width: 365px
        clear: both
        margin-bottom: 10px
        .letter
          float: left
          width: 5%
          font-weight: bold
        .answer_text
          float: left
          width: 95%
        input[type=radio]
          display: none
        label.active
          background: #000
          color: #f00

.question_popup
  h1
    font-size: 1.5em
    font-weight: bold
    margin-bottom: .7em
  .body