body#pages_home
  section#main
    position: absolute
    #chart
      header
        position: absolute
        left: 840px !important
        top: 80px !important
      .legend
        left: 600px !important
        top: 300px !important
      .chart_canvas_mix
        left: -280px !important
        top: 70px !important
    #map
      position: absolute
      top: 100px !important
      left: 100px !important

a.shell
  color: black