@import "mixins"

.dashboard_item
  margin-bottom: 10px
  height: 100px
  width: 140px
  background: #F2F2F2
  text-align: center
  h3
    text-align: right
    padding: 5px
    font-weight: bold
    font-size: .7em
    color: #073571
  .value
    overflow: hidden
    font-size: 1.6em
    padding: 5px
    margin-top: 20px
    text-align: right
    font-weight: bold
    color: #073574
  &.energy_dependence_step_0
    @include gauge_6
  &.energy_dependence_step_1
    @include gauge_5
  &.energy_dependence_step_2
    @include gauge_4
  &.energy_dependence_step_3
    @include gauge_3
  &.energy_dependence_step_4
    @include gauge_2
  &.energy_dependence_step_5
    @include gauge_1
  &.energy_dependence_step_6
    @include gauge_0
  &.co2_emission_final_demand_to_1990_in_percent_step_0
    @include gauge_0
  &.co2_emission_final_demand_to_1990_in_percent_step_1
    @include gauge_1
  &.co2_emission_final_demand_to_1990_in_percent_step_2
    @include gauge_2
  &.co2_emission_final_demand_to_1990_in_percent_step_3
    @include gauge_3
  &.co2_emission_final_demand_to_1990_in_percent_step_4
    @include gauge_4
  &.co2_emission_final_demand_to_1990_in_percent_step_5
    @include gauge_5
  &.co2_emission_final_demand_to_1990_in_percent_step_6
    @include gauge_6
  &.share_of_renewable_energy_step_0
    @include gauge_0
  &.share_of_renewable_energy_step_1
    @include gauge_1
  &.share_of_renewable_energy_step_2
    @include gauge_2
  &.share_of_renewable_energy_step_3
    @include gauge_3
  &.share_of_renewable_energy_step_4
    @include gauge_4
  &.share_of_renewable_energy_step_5
    @include gauge_5
  &.share_of_renewable_energy_step_6
    @include gauge_6
  &.area_footprint_per_nl_step_0
    @include gauge_6
  &.area_footprint_per_nl_step_1
    @include gauge_5
  &.area_footprint_per_nl_step_2
    @include gauge_4
  &.area_footprint_per_nl_step_3
    @include gauge_3
  &.area_footprint_per_nl_step_4
    @include gauge_2
  &.area_footprint_per_nl_step_5
    @include gauge_1
  &.area_footprint_per_nl_step_6
    @include gauge_0


.graph_common
  width: 100%
  td
    &.total_amount
      text-align: center
      height: 30px
      padding: 5px
      font-size: 8px
      h4
        font-weight: bold      
    &.carriers
      width: 80%    
      vertical-align: bottom      
      .carrier
        margin-top: 2px
    &.money
      width: 20%
      vertical-align: bottom
      .background
        margin-left: 40%
        position: relative
        .coins
          width: 100%
          height: 100%
          position: absolute
          bottom: 0px        

.graph_shaded
  td
    &.total_amount
      background: #FFF6D5
      color: #7A7667
    &.carriers
      .carrier
        &.oil
          background: #C8CAC9
        &.gas
          background: #A4DEEC
        &.coal
          background: #D2BCB8
        &.nuclear
          background: #FBD5A8
        &.renewable
          background: #A6CDBE
        .label
          display: none
    &.money
      .coins
        background: #EBF0A8

.graph_normal
  td
    &.total_amount
      color: #342B0B
      background-color: #FBD52C
    &.carriers
      .graph
        .carrier
          &.oil
            background: #57585A
          &.gas
            background: #2A9AC3
          &.coal
            background: #71362B
          &.nuclear
            background: #EE8208
          &.renewable
            background: #1E693B
          .label
            text-decoration: none
            color: #ffffff
            font-size: 9px
            padding-left: 1px          
    &.money
      .background
        .coins
          background: #BED509

