@import "mixins"

.dashboard_item
  margin-bottom: 10px
  height: 100px
  width: 140px
  background: #F5F5F5
  text-align: center
  h3
    text-align: right
    padding: 5px
    color: #073571
  .value
    overflow: hidden
    font-size: 1.6em
    padding: 5px
    margin-top: 20px
    text-align: right
    font-weight: bold
    color: #073574
  &.energy_dependence_step_0
    @include gauge_6
  &.energy_dependence_step_1
    @include gauge_5
  &.energy_dependence_step_2
    @include gauge_4
  &.energy_dependence_step_3
    @include gauge_3
  &.energy_dependence_step_4
    @include gauge_2
  &.energy_dependence_step_5
    @include gauge_1
  &.energy_dependence_step_6
    @include gauge_0
  &.co2_emission_final_demand_to_1990_in_percent_step_0
    @include gauge_0
  &.co2_emission_final_demand_to_1990_in_percent_step_1
    @include gauge_1
  &.co2_emission_final_demand_to_1990_in_percent_step_2
    @include gauge_2
  &.co2_emission_final_demand_to_1990_in_percent_step_3
    @include gauge_3
  &.co2_emission_final_demand_to_1990_in_percent_step_4
    @include gauge_4
  &.co2_emission_final_demand_to_1990_in_percent_step_5
    @include gauge_5
  &.co2_emission_final_demand_to_1990_in_percent_step_6
    @include gauge_6
  &.share_of_renewable_energy_step_0
    @include gauge_0
  &.share_of_renewable_energy_step_1
    @include gauge_1
  &.share_of_renewable_energy_step_2
    @include gauge_2
  &.share_of_renewable_energy_step_3
    @include gauge_3
  &.share_of_renewable_energy_step_4
    @include gauge_4
  &.share_of_renewable_energy_step_5
    @include gauge_5
  &.share_of_renewable_energy_step_6
    @include gauge_6
  &.area_footprint_per_nl_step_0
    @include gauge_6
  &.area_footprint_per_nl_step_1
    @include gauge_5
  &.area_footprint_per_nl_step_2
    @include gauge_4
  &.area_footprint_per_nl_step_3
    @include gauge_3
  &.area_footprint_per_nl_step_4
    @include gauge_2
  &.area_footprint_per_nl_step_5
    @include gauge_1
  &.area_footprint_per_nl_step_6
    @include gauge_0

.total_amount
  padding: 5px
  height: 30px
  h4
    font-weight: bold

.graph_shaded
  .total_amount
    background: #FEF4CB
  ul.chart li
    &.oil
      background: #C8CAC9
    &.gas
      background: #A4DEEC
    &.coal
      background: #D2BCB8
    &.nuclear
      background: #FBD5A8
    &.renewable
      background: #A6CDBE
    &.money
      background: #E6EE97
    span.label
      display: none

.graph_normal
  .total_amount
    background: #FDD52C
  ul.chart li
    &.oil
      background: #57585A
    &.gas
      background: #2A9AC3
    &.coal
      background: #71362B
    &.nuclear
      background: #EE8208
    &.renewable
      background: #1E693B
    &.money
      background: #BED509
    span.label
      color: white

.chart_canvas_mix, .chart_canvas_money
  float: left
  height: 400px
  margin-right: 5px
  position: relative
  ul.chart
    position: absolute
    bottom: 0
    width: 100%
    li.serie
      width: 100%
      height: 20px
      margin-top: 2px
      font-size: 10px
.chart_canvas_mix
  width: 50px
.chart_canvas_money
  width: 10px
    
