@import 'mixins'

#pages_scenario
  .top
    @include gradient(#fdfdfd, #eee)
    height: 80px
  .text
    padding: .5em
    @include gradient(#fdfdfd, #eee)
    .title
      font-weight: bold
  .boxes
    .box
      padding: 5px
      margin: 5px
      height: 70px
      width: 150px
      @include gradient(#fdfdfd, #eee)
  