@import 'mixins'
@import 'mixer.graph'

body#scenarios_new, body#scenarios_create
  section#results
    width: 240px
    float: left
    .current, .user_created
      float: left
      margin-left: 20px
      height: 430px
      td.carriers
        height: 390px        
    .current
      width: 80px
    .user_created
      width: 100px
  section#dashboard
    // The graph and dashboard items style is defined in mixer.graph.sass
    width: 120px
    float: left
  section#questions
    width: 350px
    float: left
    line-height: 1.5em
    nav
      display: block
      text-align: center
      height: 20px
      padding: 4px
      font-size: 10px
      a
        margin: 0 5px
        color: #bbb
        font-weight: bold
      &#up
        background-color: #F5F5F5
        margin-bottom: 10px
        a
          margin: 12px
          &.active
            color: red
          &:hover
            color: #D70000
      ol
        li
          float: left
          margin: 2px 12px
          &.active
            color: red
      &#down
        clear: both
        border-top: 1px solid #989898
        a
          font-weight: bold
          color: #323232
          &:hover
            text-decoration: underline
          &#next_question
            @include link_arrow_prefix
          &#previous_question
            @include back_link_arrow_prefix
    .question
      .information
        padding: 10px
        background-color: #F5F5F5
        margin-bottom: 10px
        strong
          font-weight: bold
        a
          text-decoration: underline
      .number
        font-weight: bold
        width: 5%
        float: left
        padding-left: 7px
      .text
        float: left
        width: 90%
        line-height: 18px
        font-weight: bold
        margin-bottom: 10px
      ul.answers
        li.answer
          float: left
          width: 100%
          margin-left: 0
          font-weight: bold
          list-style-type: none
          clear: both
          label
            width: 100%
            float: left
            padding: 5px 0
            margin-bottom: 4px
            font-weight: normal
            .number
              padding-top: 1px
            .text
              font-weight: normal
              margin: 0 0 0 0
            a
              text-decoration: underline
          input[type=radio]
            display: none
          &.active, &:hover
            label
              background-color: #FEF6D7
              cursor: pointer
          &:hover label .text
            text-decoration: underline
            
      #user_details
        a 
          text-decoration: underline
          
        h2
          font-size: 12px
          font-weight: bold
          margin-bottom: 10px
        .text
          padding: 10px
          background-color: #F5F5F5
          p
            font-weight: normal
            line-height: 14px
        .item
          padding: 3px
          clear: left
          .field_with_errors
            color: red
            font-weight: bold
            float: left
            position: relative
            height: 36px
          label
            font-size: 11px
            display: block
            float: left
            width: 80px
            padding: 5px
            text-align: right
          input, select
            display: block
            float: left
            padding: 3px
            margin: 4px
          input[type=text]
            width: 220px          
          input[type=submit]
            float: right
            margin-right: 20px
            margin-bottom: 20px
        #errorExplanation
          border: 1px solid red
          margin: 3px 3px 20px 3px
          h2
            padding: 5px
            background-color: red
            color: #ffffff
            font-size: 1.3em
            margin-bottom: .5em
            border-bottom: 1px solid
          p, ul
            padding: 5px
    #notice
      display: none
      text-align: center
      color: red
  .question_popup
    h1
      font-size: 1.5em
      font-weight: bold
      margin-bottom: .7em

body#scenarios_show
  section#left
    width: 50%
    float: left
    .text
      padding: 1.5em
      font-size: 1.0em
      .name
        font-weight: bold
        margin-bottom: 10px
      .title
        font-weight: bold
      .link
        padding: 5px
        a
          color: red
          font-size: 1.3em
    .boxes
      margin-top: 10px
      .dashboard_item
        float: left
        width: 150px
        margin: 12px
  section#right
    width: 40%
    float: left
    .user, .current
      float: left
      td.carriers
        height: 380px
    .user
      width: 120px
      margin-left: 10px
    .current
      width: 80px
      margin-left: 30px

body#scenarios_index
  section#scenarios
    .scenario
      position: relative
      width: 350px
      padding: 5px 5px 5px 20px
      margin: 5px
      height: 40px
      border-bottom: 1px solid #CCCCCC
      background: transparent url(/images/graph_icon.png) center left no-repeat
      .actions
        width: 120px
        float: right
        font-weight: bold
        .show
          padding: 5px
          a
            @include link_arrow_prefix
      .name
        font-size: 13px
        font-weight: bold
        margin-bottom: 4px
        margin-top: 15px    
    section#left
      width: 360px
      float: left
      #selected
        padding: 1em
        a
          font-weight: bold
          @include link_arrow_prefix
        span.compared
          color: #ccc
        .scenarios
          .scenario
            display: none
          
    section#right
      width: 360px
      float: left
      h3
        padding: 1em
        font-weight: bold

body#scenarios_compare
  .scenario, .current_scenario
    height: 790px
    float: left
    margin-top: 10px
    position: relative
    .name
      margin: 5px 0px 20px 0px
      font-weight: bold
    .dashboard
      clear: left
      padding: 10px
      .item
        height: 50px
        padding: 10px
        background: none
        border-top: 1px solid #CCCCCC
        text-align: left
        color: #0B3476
        h3
          font-size: 10px
          font-weight: bold
        .value
          font-size: 16px
          font-weight: bold  
  .scenario
    width: 130px
  .current_scenario
    width: 90px
    .name
      color: #ACACAC
    .dashboard
      .item
        color: #768EB9
  .spacer
    margin: 10px
    width: 1px
    height: 690px
    float: left
    background-color: #cccccc
  
body#scenarios_answers, body#scenarios_show #colorbox
  h2
    font-size: 1.8em
    font-weight: bold
    margin-bottom: 1em
  dl
    font-size: 1.1em
    line-height: 15px
    dt
      font-weight: bold
    dd
      margin-bottom: 1em

section#search_scenarios_box
  background-color: #F5F5F5
  padding: 1em
  margin-bottom: 10px
  div.left
    float: left
    width: 350px
    h2
      color: #2F2F2F
      font-weight: bold
      font-size: 1.1em
      margin-bottom: 1em
    input[type=text]
      padding: 5px
      width: 320px
  div.right
    float: left
    a
      font-weight: bold
      @include link_arrow_prefix
