@import 'mixins'
@import 'mixer.graph'

body#scenarios_show
  .top
    @include gradient(#fdfdfd, #eee)
    height: 80px
  .text
    padding: .5em
    @include gradient(#fdfdfd, #eee)
    .title
      font-weight: bold
  .boxes

body#scenarios_index
  h2
    font-size: 1.5em
  .scenario
    position: relative
    @include gradient(#fdfdfd, #eee)
    width: 250px
    border:  1px solid #ccc
    padding: 5px
    margin: 5px
    &.featured
      @include gradient(#B9FF4D, #E1FF0B)
    .actions
      float: right
    .name
      font-weight: bold
      margin-bottom: 4px
    .age
      font-style: italic
      color: #777

body#scenarios_compare
  .scenario
    padding: 3px
    border: 1px solid #ccc
    float: left
    margin: 5px
    .name
      font-weight: bold
    .age
      font-style: italic
      margin-bottom: 5px
    .close_link
      float: right