@import 'mixins'

table.striped
  width: 100%
  td
    padding: .4em
  thead
    tr
      @include gradient(#555555, #999999)
      background-color: #aaa
      th
        color: white
        text-align: left
        padding: .5em
        font-weight: bold
        border: 1px solid #ddd
        font-weight: 300
        &.small
          font-size: .7em
  tbody
    tr
      td
        font-weight: 100
        border: 1px solid #ddd
        &.small
          font-size: .7em
    tr.even
      background-color: #eee
      // border-bottom: 1px solid #ddd