body {
  font-family: verdana, helvetica;
  font-size: 11px; }
  body header {
    border-bottom: 1px solid #cccccc;
    margin-bottom: 20px; }
    body header h1 {
      font-weight: bold; }
    body header nav {
      padding: 1em; }
      body header nav a {
        font-size: 1.2em; }
