section#bottom {
  -moz-box-shadow: 0 2px 3px 3px #eeeeee;
  -webkit-box-shadow: 0 2px 3px 3px #eeeeee;
  box-shadow: 0 2px 3px 3px #eeeeee;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=180, Color='$color')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=180, Color='$color');
  background: #eeeeee;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$first', endColorstr='$second');
  background: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#eeeeee));
  background: -moz-linear-gradient(top, #fdfdfd, #eeeeee); }
  section#bottom table#carriers tr th {
    text-align: left;
    padding: 3px; }
  section#bottom table#carriers tr td {
    padding: 3px;
    border: 1px solid #dddddd; }

section#results #total_amount {
  color: #0b3378;
  -moz-box-shadow: 0 2px 3px 3px #eeeeee;
  -webkit-box-shadow: 0 2px 3px 3px #eeeeee;
  box-shadow: 0 2px 3px 3px #eeeeee;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=180, Color='$color')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=180, Color='$color');
  background: #eeeeee;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$first', endColorstr='$second');
  background: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#eeeeee));
  background: -moz-linear-gradient(top, #fdfdfd, #eeeeee);
  text-align: center; }
  section#results #total_amount h4 {
    font-weight: bold; }
section#results #graph_container {
  margin: 10px auto; }
  section#results #graph_container table {
    text-align: center;
    margin: 0 auto; }
    section#results #graph_container table td {
      padding: 3px; }
      section#results #graph_container table td.carriers {
        width: 110px; }
        section#results #graph_container table td.carriers #graph {
          height: 320px;
          position: relative;
          background: white; }
          section#results #graph_container table td.carriers #graph ul {
            position: absolute;
            bottom: 0px;
            left: 10px;
            width: 90px; }
            section#results #graph_container table td.carriers #graph ul li {
              height: 60px;
              margin-bottom: 2px;
              text-decoration: none;
              color: white;
              font-size: 8px;
              font-weight: bold; }
          section#results #graph_container table td.carriers #graph.cilinder ul li.oil {
            background: url("/images/texture_oil.png"); }
          section#results #graph_container table td.carriers #graph.cilinder ul li.gas {
            background: url("/images/texture_gas.png"); }
          section#results #graph_container table td.carriers #graph.cilinder ul li.coal {
            background: url("/images/texture_coal.png"); }
          section#results #graph_container table td.carriers #graph.cilinder ul li.renewable {
            background: url("/images/texture_renewable.png"); }
          section#results #graph_container table td.carriers #graph.cilinder ul li.nuclear {
            background: url("/images/texture_nuclear.png"); }
          section#results #graph_container table td.carriers #graph.solid ul li.oil {
            background: #413e3d; }
          section#results #graph_container table td.carriers #graph.solid ul li.gas {
            background: #7d9ddd; }
          section#results #graph_container table td.carriers #graph.solid ul li.coal {
            background: #573403; }
          section#results #graph_container table td.carriers #graph.solid ul li.nuclear {
            background: #fcda0b; }
          section#results #graph_container table td.carriers #graph.solid ul li.renewable {
            background: #39bf06; }
      section#results #graph_container table td.money .background {
        width: 20px;
        height: 320px;
        background: #eeeeee;
        position: relative; }
        section#results #graph_container table td.money .background .coins {
          width: 21px;
          background: #c7cb09 url("images/coin_texture.png");
          height: 50px;
          position: absolute;
          bottom: 0px; }

section#dashboard .item {
  margin-bottom: 10px;
  height: 80px;
  -moz-box-shadow: 0 2px 3px 3px #eeeeee;
  -webkit-box-shadow: 0 2px 3px 3px #eeeeee;
  box-shadow: 0 2px 3px 3px #eeeeee;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=180, Color='$color')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=180, Color='$color');
  text-align: center; }
  section#dashboard .item h3 {
    text-align: right;
    padding: 5px;
    font-weight: bold;
    font-size: 0.7em;
    color: #073571; }
  section#dashboard .item .value {
    overflow: hidden;
    font-size: 1.6em;
    padding: 5px;
    margin-top: 20px;
    text-align: right;
    font-weight: bold;
    color: #073574; }
  section#dashboard .item.energy_dependence_step_0 {
    background-color: green; }
  section#dashboard .item.energy_dependence_step_1 {
    background-color: yellow; }
  section#dashboard .item.energy_dependence_step_2 {
    background-color: orange; }
  section#dashboard .item.energy_dependence_step_3 {
    background-color: red; }
  section#dashboard .item.co2_emission_final_demand_to_1990_in_percent_step_0 {
    background-color: green; }
  section#dashboard .item.co2_emission_final_demand_to_1990_in_percent_step_1 {
    background-color: yellow; }
  section#dashboard .item.co2_emission_final_demand_to_1990_in_percent_step_2 {
    background-color: orange; }
  section#dashboard .item.co2_emission_final_demand_to_1990_in_percent_step_3 {
    background-color: red; }
  section#dashboard .item.share_of_renewable_energy_step_0 {
    background-color: green; }
  section#dashboard .item.share_of_renewable_energy_step_1 {
    background-color: yellow; }
  section#dashboard .item.share_of_renewable_energy_step_2 {
    background-color: orange; }
  section#dashboard .item.share_of_renewable_energy_step_3 {
    background-color: red; }
  section#dashboard .item.area_footprint_per_nl_step_0 {
    background-color: green; }
  section#dashboard .item.area_footprint_per_nl_step_1 {
    background-color: yellow; }
  section#dashboard .item.area_footprint_per_nl_step_2 {
    background-color: orange; }
  section#dashboard .item.area_footprint_per_nl_step_3 {
    background-color: red; }

section#questions {
  background: #eeeeee;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$first', endColorstr='$second');
  background: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#eeeeee));
  background: -moz-linear-gradient(top, #fdfdfd, #eeeeee);
  -moz-box-shadow: 0 2px 3px 3px #dddddd;
  -webkit-box-shadow: 0 2px 3px 3px #dddddd;
  box-shadow: 0 2px 3px 3px #dddddd;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=180, Color='$color')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=180, Color='$color');
  line-height: 1.5em;
  background-color: #eeeeee; }
  section#questions nav {
    background: #eeeeee;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$first', endColorstr='$second');
    background: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#eeeeee));
    background: -moz-linear-gradient(top, #fdfdfd, #eeeeee);
    display: block;
    text-align: center;
    height: 20px;
    padding: 4px;
    font-size: 10px; }
    section#questions nav a {
      margin: 0 5px;
      color: #bbbbbb;
      font-weight: bold; }
    section#questions nav#up a.active {
      color: red; }
  section#questions .question {
    padding: 10px;
    float: left;
    clear: both;
    width: 365px; }
    section#questions .question .information {
      margin-bottom: 5px; }
    section#questions .question .number {
      font-weight: bold;
      width: 5%;
      float: left; }
    section#questions .question .question_text {
      font-weight: bold;
      width: 95%;
      float: left; }
    section#questions .question .answers {
      border-top: 1px solid #cccccc;
      float: left;
      clear: both;
      width: 365px;
      margin-top: 5px;
      padding-top: 5px; }
      section#questions .question .answers .answer {
        float: left;
        width: 365px;
        clear: both;
        margin-bottom: 10px; }
        section#questions .question .answers .answer .letter {
          float: left;
          width: 5%;
          font-weight: bold; }
        section#questions .question .answers .answer .answer_text {
          float: left;
          width: 95%; }
        section#questions .question .answers .answer input[type=radio] {
          display: none; }
        section#questions .question .answers .answer label.active {
          background: black;
          color: red; }
