section#bottom {
  -moz-box-shadow: 0 2px 3px 3px #eeeeee;
  -webkit-box-shadow: 0 2px 3px 3px #eeeeee;
  box-shadow: 0 2px 3px 3px #eeeeee;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=180, Color='$color')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=180, Color='$color');
  background: #eeeeee;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$first', endColorstr='$second');
  background: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#eeeeee));
  background: -moz-linear-gradient(top, #fdfdfd, #eeeeee); }
  section#bottom table#carriers tr th {
    text-align: left;
    padding: 3px; }
  section#bottom table#carriers tr td {
    padding: 3px;
    border: 1px solid #dddddd; }

section#results #total_amount {
  color: #0b3378;
  -moz-box-shadow: 0 2px 3px 3px #eeeeee;
  -webkit-box-shadow: 0 2px 3px 3px #eeeeee;
  box-shadow: 0 2px 3px 3px #eeeeee;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=180, Color='$color')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=180, Color='$color');
  background: #eeeeee;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$first', endColorstr='$second');
  background: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#eeeeee));
  background: -moz-linear-gradient(top, #fdfdfd, #eeeeee);
  text-align: center; }
  section#results #total_amount h4 {
    font-weight: bold; }
section#results #dashboard .item {
  margin: 10px;
  height: 80px;
  -moz-box-shadow: 0 2px 3px 3px #eeeeee;
  -webkit-box-shadow: 0 2px 3px 3px #eeeeee;
  box-shadow: 0 2px 3px 3px #eeeeee;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=180, Color='$color')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=180, Color='$color');
  background: #eeeeee;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$first', endColorstr='$second');
  background: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#eeeeee));
  background: -moz-linear-gradient(top, #fdfdfd, #eeeeee);
  text-align: center; }
  section#results #dashboard .item h3 {
    text-align: right;
    padding: 5px;
    font-weight: bold;
    font-size: 0.7em;
    color: #073571; }
  section#results #dashboard .item .value {
    overflow: hidden;
    font-size: 1.6em;
    padding: 5px;
    margin-top: 20px;
    text-align: right;
    font-weight: bold;
    color: #073574; }

section#questions {
  background: #eeeeee;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$first', endColorstr='$second');
  background: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#eeeeee));
  background: -moz-linear-gradient(top, #fdfdfd, #eeeeee);
  -moz-box-shadow: 0 2px 3px 3px #dddddd;
  -webkit-box-shadow: 0 2px 3px 3px #dddddd;
  box-shadow: 0 2px 3px 3px #dddddd;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=180, Color='$color')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=180, Color='$color');
  line-height: 1.5em;
  background-color: #eeeeee; }
  section#questions nav {
    background: #eeeeee;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$first', endColorstr='$second');
    background: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#eeeeee));
    background: -moz-linear-gradient(top, #fdfdfd, #eeeeee);
    display: block;
    text-align: center;
    height: 20px;
    padding: 4px;
    font-size: 10px; }
    section#questions nav a {
      margin: 0 5px;
      color: #bbbbbb;
      font-weight: bold; }
    section#questions nav#up a.active {
      color: red; }
  section#questions .question {
    padding: 10px;
    float: left;
    clear: both;
    width: 365px; }
    section#questions .question .information {
      margin-bottom: 5px; }
    section#questions .question .number {
      font-weight: bold;
      width: 5%;
      float: left; }
    section#questions .question .question_text {
      font-weight: bold;
      width: 95%;
      float: left; }
    section#questions .question .answers {
      border-top: 1px solid #cccccc;
      float: left;
      clear: both;
      width: 365px;
      margin-top: 5px;
      padding-top: 5px; }
      section#questions .question .answers .answer {
        float: left;
        width: 365px;
        clear: both;
        margin-bottom: 10px; }
        section#questions .question .answers .answer .letter {
          float: left;
          width: 5%;
          font-weight: bold; }
        section#questions .question .answers .answer .answer_text {
          float: left;
          width: 95%; }
        section#questions .question .answers .answer input[type=radio] {
          display: none; }
        section#questions .question .answers .answer label.active {
          background: black;
          color: red; }

#passepartout {
  width: 90px;
  margin: 50px auto; }
  #passepartout #mixholder {
    height: 300px;
    position: relative; }
    #passepartout #mixholder ul#mix {
      position: absolute;
      bottom: 0px;
      width: 90px; }
      #passepartout #mixholder ul#mix li {
        height: 60px;
        margin-bottom: 3px; }
        #passepartout #mixholder ul#mix li a {
          outline: none;
          text-indent: 10px;
          display: block;
          text-decoration: none;
          color: white;
          font-size: 9px; }
    #passepartout #mixholder.cilinder {
      background: url("/images/mix_bg.png") repeat-y; }
      #passepartout #mixholder.cilinder ul#mix li.costs_share_of_oil {
        background: url("/images/texture_oil.png"); }
      #passepartout #mixholder.cilinder ul#mix li.costs_share_of_gas {
        background: url("/images/texture_gas.png"); }
      #passepartout #mixholder.cilinder ul#mix li.costs_share_of_coal {
        background: url("/images/texture_coal.png"); }
      #passepartout #mixholder.cilinder ul#mix li.costs_share_of_sustainable {
        background: url("/images/texture_renewable.png"); }
      #passepartout #mixholder.cilinder ul#mix li.costs_share_of_uranium {
        background: url("/images/texture_nuclear.png"); }
    #passepartout #mixholder.solid {
      height: 300px;
      background: #eeeeee; }
      #passepartout #mixholder.solid ul#mix li.costs_share_of_oil {
        background: #413e3d; }
      #passepartout #mixholder.solid ul#mix li.costs_share_of_gas {
        background: #7d9ddd; }
      #passepartout #mixholder.solid ul#mix li.costs_share_of_coal {
        background: #573403; }
      #passepartout #mixholder.solid ul#mix li.costs_share_of_uranium {
        background: #fcda0b; }
      #passepartout #mixholder.solid ul#mix li.costs_share_of_sustainable {
        background: #39bf06; }
