#content section#main #chart {
  float: right;
  width: 123px; }
#content section#main #map {
  float: left;
  width: 672px; }
#content section#user_chart div.legend, #content section#left div.legend, #content section#right div.legend {
  left: 10px; }
#content div#user_details {
  overflow: hidden; }
  #content div#user_details h2 {
    margin-bottom: 5px !important;
    padding: 5px 10px !important; }
  #content div#user_details p {
    padding: 5px 10px !important;
    margin: 0px !important; }
  #content div#user_details div.item {
    float: left;
    clear: both;
    width: 100%; }
    #content div#user_details div.item label {
      float: left;
      width: 80px; }
    #content div#user_details div.item input[type="text"] {
      float: left;
      margin: 0px;
      padding: 2px;
      font-size: 80%;
      width: 230px; }
    #content div#user_details div.item input[type="submit"] {
      float: right;
      padding: 2px;
      width: 120px; }

a.shell {
  color: black; }
