.dashboard_item {
  margin-bottom: 10px;
  height: 100px;
  width: 140px;
  background: #f2f2f2;
  text-align: center; }
  .dashboard_item h3 {
    text-align: right;
    padding: 5px;
    font-weight: bold;
    font-size: 0.7em;
    color: #073571; }
  .dashboard_item .value {
    overflow: hidden;
    font-size: 1.6em;
    padding: 5px;
    margin-top: 20px;
    text-align: right;
    font-weight: bold;
    color: #073574; }
  .dashboard_item.energy_dependence_step_0 {
    background: #f2f2f2 url(/images/layout/gauge_6.png) center left no-repeat; }
  .dashboard_item.energy_dependence_step_1 {
    background: #f2f2f2 url(/images/layout/gauge_5.png) center left no-repeat; }
  .dashboard_item.energy_dependence_step_2 {
    background: #f2f2f2 url(/images/layout/gauge_4.png) center left no-repeat; }
  .dashboard_item.energy_dependence_step_3 {
    background: #f2f2f2 url(/images/layout/gauge_3.png) center left no-repeat; }
  .dashboard_item.energy_dependence_step_4 {
    background: #f2f2f2 url(/images/layout/gauge_2.png) center left no-repeat; }
  .dashboard_item.energy_dependence_step_5 {
    background: #f2f2f2 url(/images/layout/gauge_1.png) center left no-repeat; }
  .dashboard_item.energy_dependence_step_6 {
    background: #f2f2f2 url(/images/layout/gauge_0.png) center left no-repeat; }
  .dashboard_item.co2_emission_final_demand_to_1990_in_percent_step_0 {
    background: #f2f2f2 url(/images/layout/gauge_0.png) center left no-repeat; }
  .dashboard_item.co2_emission_final_demand_to_1990_in_percent_step_1 {
    background: #f2f2f2 url(/images/layout/gauge_1.png) center left no-repeat; }
  .dashboard_item.co2_emission_final_demand_to_1990_in_percent_step_2 {
    background: #f2f2f2 url(/images/layout/gauge_2.png) center left no-repeat; }
  .dashboard_item.co2_emission_final_demand_to_1990_in_percent_step_3 {
    background: #f2f2f2 url(/images/layout/gauge_3.png) center left no-repeat; }
  .dashboard_item.co2_emission_final_demand_to_1990_in_percent_step_4 {
    background: #f2f2f2 url(/images/layout/gauge_4.png) center left no-repeat; }
  .dashboard_item.co2_emission_final_demand_to_1990_in_percent_step_5 {
    background: #f2f2f2 url(/images/layout/gauge_5.png) center left no-repeat; }
  .dashboard_item.co2_emission_final_demand_to_1990_in_percent_step_6 {
    background: #f2f2f2 url(/images/layout/gauge_6.png) center left no-repeat; }
  .dashboard_item.share_of_renewable_energy_step_0 {
    background: #f2f2f2 url(/images/layout/gauge_0.png) center left no-repeat; }
  .dashboard_item.share_of_renewable_energy_step_1 {
    background: #f2f2f2 url(/images/layout/gauge_1.png) center left no-repeat; }
  .dashboard_item.share_of_renewable_energy_step_2 {
    background: #f2f2f2 url(/images/layout/gauge_2.png) center left no-repeat; }
  .dashboard_item.share_of_renewable_energy_step_3 {
    background: #f2f2f2 url(/images/layout/gauge_3.png) center left no-repeat; }
  .dashboard_item.share_of_renewable_energy_step_4 {
    background: #f2f2f2 url(/images/layout/gauge_4.png) center left no-repeat; }
  .dashboard_item.share_of_renewable_energy_step_5 {
    background: #f2f2f2 url(/images/layout/gauge_5.png) center left no-repeat; }
  .dashboard_item.share_of_renewable_energy_step_6 {
    background: #f2f2f2 url(/images/layout/gauge_6.png) center left no-repeat; }
  .dashboard_item.area_footprint_per_nl_step_0 {
    background: #f2f2f2 url(/images/layout/gauge_0.png) center left no-repeat; }
  .dashboard_item.area_footprint_per_nl_step_1 {
    background: #f2f2f2 url(/images/layout/gauge_1.png) center left no-repeat; }
  .dashboard_item.area_footprint_per_nl_step_2 {
    background: #f2f2f2 url(/images/layout/gauge_2.png) center left no-repeat; }
  .dashboard_item.area_footprint_per_nl_step_3 {
    background: #f2f2f2 url(/images/layout/gauge_3.png) center left no-repeat; }
  .dashboard_item.area_footprint_per_nl_step_4 {
    background: #f2f2f2 url(/images/layout/gauge_4.png) center left no-repeat; }
  .dashboard_item.area_footprint_per_nl_step_5 {
    background: #f2f2f2 url(/images/layout/gauge_5.png) center left no-repeat; }
  .dashboard_item.area_footprint_per_nl_step_6 {
    background: #f2f2f2 url(/images/layout/gauge_6.png) center left no-repeat; }

.static_graph {
  border: 1px solid red;
  width: 90px; }

table.combined_graph {
  margin: 0 auto; }
  table.combined_graph td {
    padding: 4px; }
    table.combined_graph td.total_amount {
      height: 40px;
      color: #342b0b;
      background-color: #fbd52c;
      padding: 5px; }
      table.combined_graph td.total_amount h4 {
        font-weight: bold; }
    table.combined_graph td.carriers {
      height: 90%;
      width: 75%;
      vertical-align: bottom; }
      table.combined_graph td.carriers .graph .carrier {
        padding-left: 10px;
        text-align: left;
        height: 20%;
        width: 90%;
        margin-bottom: 2px;
        text-decoration: none;
        color: white;
        font-size: 8px; }
        table.combined_graph td.carriers .graph .carrier.oil {
          background: #57585a; }
        table.combined_graph td.carriers .graph .carrier.gas {
          background: #2a9ac3; }
        table.combined_graph td.carriers .graph .carrier.coal {
          background: #71362b; }
        table.combined_graph td.carriers .graph .carrier.nuclear {
          background: #ee8208; }
        table.combined_graph td.carriers .graph .carrier.renewable {
          background: #1e693b; }
    table.combined_graph td.money {
      width: 25%;
      vertical-align: bottom; }
      table.combined_graph td.money .background {
        width: 80%;
        height: 90%;
        background: #eeeeee;
        position: relative;
        margin-bottom: 2px; }
        table.combined_graph td.money .background .coins {
          width: 100%;
          background: #bed509;
          height: 100%;
          position: absolute;
          bottom: 0px; }

table.shaded td.total_amount {
  background: #fff6d5 !important;
  color: #7a7667; }
table.shaded td.carriers .graph .carrier.oil {
  background: #c8cac9 !important; }
table.shaded td.carriers .graph .carrier.gas {
  background: #a4deec !important; }
table.shaded td.carriers .graph .carrier.coal {
  background: #d2bcb8 !important; }
table.shaded td.carriers .graph .carrier.nuclear {
  background: #fbd5a8 !important; }
table.shaded td.carriers .graph .carrier.renewable {
  background: #a6cdbe !important; }
table.shaded td.money .coins {
  background: #ebf0a8 !important; }
