.dashboard_item {
  margin-bottom: 10px;
  height: 80px;
  -moz-box-shadow: 0 2px 3px 3px #eeeeee;
  -webkit-box-shadow: 0 2px 3px 3px #eeeeee;
  box-shadow: 0 2px 3px 3px #eeeeee;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=180, Color='$color')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=180, Color='$color');
  text-align: center; }
  .dashboard_item h3 {
    text-align: right;
    padding: 5px;
    font-weight: bold;
    font-size: 0.7em;
    color: #073571; }
  .dashboard_item .value {
    overflow: hidden;
    font-size: 1.6em;
    padding: 5px;
    margin-top: 20px;
    text-align: right;
    font-weight: bold;
    color: #073574; }
  .dashboard_item.energy_dependence_step_0 {
    background-color: green; }
  .dashboard_item.energy_dependence_step_1 {
    background-color: yellow; }
  .dashboard_item.energy_dependence_step_2 {
    background-color: orange; }
  .dashboard_item.energy_dependence_step_3 {
    background-color: red; }
  .dashboard_item.co2_emission_final_demand_to_1990_in_percent_step_0 {
    background-color: green; }
  .dashboard_item.co2_emission_final_demand_to_1990_in_percent_step_1 {
    background-color: yellow; }
  .dashboard_item.co2_emission_final_demand_to_1990_in_percent_step_2 {
    background-color: orange; }
  .dashboard_item.co2_emission_final_demand_to_1990_in_percent_step_3 {
    background-color: red; }
  .dashboard_item.share_of_renewable_energy_step_0 {
    background-color: red; }
  .dashboard_item.share_of_renewable_energy_step_1 {
    background-color: orange; }
  .dashboard_item.share_of_renewable_energy_step_2 {
    background-color: yellow; }
  .dashboard_item.share_of_renewable_energy_step_3 {
    background-color: green; }
  .dashboard_item.area_footprint_per_nl_step_0 {
    background-color: green; }
  .dashboard_item.area_footprint_per_nl_step_1 {
    background-color: yellow; }
  .dashboard_item.area_footprint_per_nl_step_2 {
    background-color: orange; }
  .dashboard_item.area_footprint_per_nl_step_3 {
    background-color: red; }

.static_graph {
  border: 1px solid red;
  width: 90px; }

table.combined_graph {
  text-align: center;
  margin: 0 auto; }
  table.combined_graph td {
    border: 1px solid #eeeeee;
    padding: 3px; }
  table.combined_graph td.carriers {
    vertical-align: bottom; }
    table.combined_graph td.carriers ul li {
      height: 60px;
      width: 90px;
      margin-bottom: 2px;
      text-decoration: none;
      color: white;
      font-size: 8px;
      font-weight: bold; }
    table.combined_graph td.carriers ul.cilinder li.oil {
      background: url("/images/texture_oil.png"); }
    table.combined_graph td.carriers ul.cilinder li.gas {
      background: url("/images/texture_gas.png"); }
    table.combined_graph td.carriers ul.cilinder li.coal {
      background: url("/images/texture_coal.png"); }
    table.combined_graph td.carriers ul.cilinder li.renewable {
      background: url("/images/texture_renewable.png"); }
    table.combined_graph td.carriers ul.cilinder li.nuclear {
      background: url("/images/texture_nuclear.png"); }
    table.combined_graph td.carriers ul.solid li.oil {
      background: #413e3d; }
    table.combined_graph td.carriers ul.solid li.gas {
      background: #7d9ddd; }
    table.combined_graph td.carriers ul.solid li.coal {
      background: #573403; }
    table.combined_graph td.carriers ul.solid li.nuclear {
      background: #fcda0b; }
    table.combined_graph td.carriers ul.solid li.renewable {
      background: #39bf06; }
  table.combined_graph td.money {
    vertical-align: bottom; }
    table.combined_graph td.money .background {
      width: 20px;
      height: 320px;
      background: #eeeeee;
      position: relative; }
      table.combined_graph td.money .background .coins {
        width: 21px;
        background: #c7cb09 url("images/coin_texture.png");
        height: 50px;
        position: absolute;
        bottom: 0px; }
  table.combined_graph td.total_amount {
    color: #0b3378;
    -moz-box-shadow: 0 2px 3px 3px #eeeeee;
    -webkit-box-shadow: 0 2px 3px 3px #eeeeee;
    box-shadow: 0 2px 3px 3px #eeeeee;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=180, Color='$color')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=180, Color='$color');
    background: #eeeeee;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$first', endColorstr='$second');
    background: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#eeeeee));
    background: -moz-linear-gradient(top, #fdfdfd, #eeeeee);
    text-align: center; }
    table.combined_graph td.total_amount h4 {
      font-weight: bold; }

#pages_scenario .top {
  background: #eeeeee;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$first', endColorstr='$second');
  background: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#eeeeee));
  background: -moz-linear-gradient(top, #fdfdfd, #eeeeee);
  height: 80px; }
#pages_scenario .text {
  padding: 0.5em;
  background: #eeeeee;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$first', endColorstr='$second');
  background: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#eeeeee));
  background: -moz-linear-gradient(top, #fdfdfd, #eeeeee); }
  #pages_scenario .text .title {
    font-weight: bold; }
