.dashboard_item {
  margin-bottom: 10px;
  height: 100px;
  width: 140px;
  background: #f2f2f2;
  text-align: center; }
  .dashboard_item h3 {
    text-align: right;
    padding: 5px;
    font-weight: bold;
    font-size: 0.7em;
    color: #073571; }
  .dashboard_item .value {
    overflow: hidden;
    font-size: 1.6em;
    padding: 5px;
    margin-top: 20px;
    text-align: right;
    font-weight: bold;
    color: #073574; }

.static_graph {
  border: 1px solid red;
  width: 90px; }

table.combined_graph {
  width: 120px;
  margin: 0 auto; }
  table.combined_graph td {
    padding: 4px; }
  table.combined_graph td.carriers {
    width: 75%;
    vertical-align: bottom; }
    table.combined_graph td.carriers .graph .carrier {
      padding-left: 10px;
      text-align: left;
      height: 20%;
      width: 90%;
      margin-bottom: 3px;
      text-decoration: none;
      color: white;
      font-size: 8px;
      font-weight: bold; }
      table.combined_graph td.carriers .graph .carrier.oil {
        background: #57585a; }
      table.combined_graph td.carriers .graph .carrier.gas {
        background: #2a9ac3; }
      table.combined_graph td.carriers .graph .carrier.coal {
        background: #71362b; }
      table.combined_graph td.carriers .graph .carrier.nuclear {
        background: #ee8208; }
      table.combined_graph td.carriers .graph .carrier.renewable {
        background: #1e693b; }
  table.combined_graph td.money {
    width: 25%;
    vertical-align: bottom; }
    table.combined_graph td.money .background {
      width: 80%;
      height: 308px;
      background: #eeeeee;
      position: relative;
      margin-bottom: 2px; }
      table.combined_graph td.money .background .coins {
        width: 100%;
        background: #bed509;
        height: 308px;
        position: absolute;
        bottom: 0px; }
  table.combined_graph td.total_amount {
    color: #342b0b;
    background-color: #fbd52c;
    padding: 5px; }
    table.combined_graph td.total_amount h4 {
      font-weight: bold; }

body#scenarios_new section#results, body#scenarios_create section#results {
  width: 180px;
  float: left; }
body#scenarios_new section#dashboard, body#scenarios_create section#dashboard {
  width: 120px;
  float: left; }
body#scenarios_new section#questions, body#scenarios_create section#questions {
  width: 420px;
  float: left;
  background-color: #fdfdfd;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr="#fdfdfd"}, endColorstr="#eeeeee");
  background-image: -moz-linear-gradient(center top, #fdfdfd, #eeeeee);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fdfdfd), to(#eeeeee));
  -moz-box-shadow: 0 2px 3px 3px #dddddd;
  -webkit-box-shadow: 0 2px 3px 3px #dddddd;
  box-shadow: 0 2px 3px 3px #dddddd;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=180, Color='#dddddd')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=180, Color='$color');
  line-height: 1.5em;
  background-color: #eeeeee; }
  body#scenarios_new section#questions nav, body#scenarios_create section#questions nav {
    background-color: #fdfdfd;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr="#fdfdfd"}, endColorstr="#eeeeee");
    background-image: -moz-linear-gradient(center top, #fdfdfd, #eeeeee);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fdfdfd), to(#eeeeee));
    border: 1px solid #eee;
    display: block;
    text-align: center;
    height: 20px;
    padding: 4px;
    font-size: 10px; }
    body#scenarios_new section#questions nav a, body#scenarios_create section#questions nav a {
      margin: 0 5px;
      color: #bbbbbb;
      font-weight: bold; }
    body#scenarios_new section#questions nav#up a.active, body#scenarios_create section#questions nav#up a.active {
      color: red; }
    body#scenarios_new section#questions nav#up a:hover, body#scenarios_create section#questions nav#up a:hover {
      color: #d70000; }
    body#scenarios_new section#questions nav#down, body#scenarios_create section#questions nav#down {
      clear: both; }
      body#scenarios_new section#questions nav#down a:hover, body#scenarios_create section#questions nav#down a:hover {
        color: #d70000; }
  body#scenarios_new section#questions .question, body#scenarios_create section#questions .question {
    padding: 10px; }
    body#scenarios_new section#questions .question .information, body#scenarios_create section#questions .question .information {
      margin-bottom: 5px; }
      body#scenarios_new section#questions .question .information strong, body#scenarios_create section#questions .question .information strong {
        font-weight: bold; }
      body#scenarios_new section#questions .question .information a, body#scenarios_create section#questions .question .information a {
        color: blue; }
    body#scenarios_new section#questions .question .number, body#scenarios_create section#questions .question .number {
      font-weight: bold;
      width: 5%;
      float: left; }
    body#scenarios_new section#questions .question .question_text, body#scenarios_create section#questions .question .question_text {
      font-weight: bold; }
    body#scenarios_new section#questions .question ol.answers, body#scenarios_create section#questions .question ol.answers {
      padding-left: 20px;
      margin-left: 0;
      border-top: 1px solid #cccccc;
      margin-top: 5px;
      padding-top: 5px; }
      body#scenarios_new section#questions .question ol.answers li.answer, body#scenarios_create section#questions .question ol.answers li.answer {
        margin-left: 0;
        font-weight: bold;
        list-style-type: upper-alpha;
        margin-bottom: 15px;
        clear: both; }
        body#scenarios_new section#questions .question ol.answers li.answer label, body#scenarios_create section#questions .question ol.answers li.answer label {
          font-weight: normal; }
          body#scenarios_new section#questions .question ol.answers li.answer label:hover, body#scenarios_create section#questions .question ol.answers li.answer label:hover {
            color: #ff7f00;
            cursor: pointer; }
        body#scenarios_new section#questions .question ol.answers li.answer input[type=radio], body#scenarios_create section#questions .question ol.answers li.answer input[type=radio] {
          display: none; }
        body#scenarios_new section#questions .question ol.answers li.answer.active, body#scenarios_create section#questions .question ol.answers li.answer.active {
          color: red; }
    body#scenarios_new section#questions .question #user_details .item, body#scenarios_create section#questions .question #user_details .item {
      padding: 3px; }
      body#scenarios_new section#questions .question #user_details .item .field_with_errors, body#scenarios_create section#questions .question #user_details .item .field_with_errors {
        background-color: #f6182c;
        float: left;
        position: relative;
        height: 36px; }
      body#scenarios_new section#questions .question #user_details .item label, body#scenarios_create section#questions .question #user_details .item label {
        display: block;
        float: left;
        width: 60px;
        padding: 5px;
        text-align: right; }
        body#scenarios_new section#questions .question #user_details .item label.required, body#scenarios_create section#questions .question #user_details .item label.required {
          font-weight: bold; }
      body#scenarios_new section#questions .question #user_details .item input, body#scenarios_create section#questions .question #user_details .item input {
        display: block;
        float: left;
        padding: 5px;
        width: 270px;
        margin: 4px; }
      body#scenarios_new section#questions .question #user_details .item input[type=submit], body#scenarios_create section#questions .question #user_details .item input[type=submit] {
        margin-left: 74px;
        width: 214px;
        border: 1px solid #cccccc;
        margin-bottom: 20px; }
        body#scenarios_new section#questions .question #user_details .item input[type=submit]:hover, body#scenarios_create section#questions .question #user_details .item input[type=submit]:hover {
          background-color: #f69409; }
    body#scenarios_new section#questions .question #user_details #errorExplanation, body#scenarios_create section#questions .question #user_details #errorExplanation {
      border: 1px solid red;
      margin: 3px 3px 20px 3px; }
      body#scenarios_new section#questions .question #user_details #errorExplanation h2, body#scenarios_create section#questions .question #user_details #errorExplanation h2 {
        padding: 5px;
        background-color: red;
        color: white;
        font-size: 1.3em;
        margin-bottom: 0.5em;
        border-bottom: 1px solid; }
      body#scenarios_new section#questions .question #user_details #errorExplanation p, body#scenarios_new section#questions .question #user_details #errorExplanation ul, body#scenarios_create section#questions .question #user_details #errorExplanation p, body#scenarios_create section#questions .question #user_details #errorExplanation ul {
        padding: 5px; }
  body#scenarios_new section#questions #notice, body#scenarios_create section#questions #notice {
    display: none;
    text-align: center;
    color: red; }
body#scenarios_new .question_popup h1, body#scenarios_create .question_popup h1 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.7em; }

body#scenarios_show .top {
  background-color: #fdfdfd;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr="#fdfdfd"}, endColorstr="#eeeeee");
  background-image: -moz-linear-gradient(center top, #fdfdfd, #eeeeee);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fdfdfd), to(#eeeeee));
  border: 1px solid #eee;
  height: 80px;
  margin-bottom: 10px;
  padding: 10px; }
  body#scenarios_show .top h2 {
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 1em; }
body#scenarios_show .left {
  width: 50%;
  float: left; }
  body#scenarios_show .left .text {
    background-color: #fdfdfd;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr="#fdfdfd"}, endColorstr="#eeeeee");
    background-image: -moz-linear-gradient(center top, #fdfdfd, #eeeeee);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fdfdfd), to(#eeeeee));
    border: 1px solid #eee;
    padding: 1.5em;
    font-size: 1.2em; }
    body#scenarios_show .left .text .title {
      font-weight: bold; }
    body#scenarios_show .left .text .link {
      padding: 5px; }
      body#scenarios_show .left .text .link a {
        color: red;
        font-size: 1.3em; }
  body#scenarios_show .left .boxes {
    margin-top: 10px; }
    body#scenarios_show .left .boxes .dashboard_item {
      float: left;
      width: 150px;
      margin: 12px; }
body#scenarios_show .right {
  width: 40%;
  float: left; }
  body#scenarios_show .right .combined_graph {
    width: 160px; }

body#scenarios_index #search_form {
  background-color: #fdfdfd;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr="#fdfdfd"}, endColorstr="#eeeeee");
  background-image: -moz-linear-gradient(center top, #fdfdfd, #eeeeee);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fdfdfd), to(#eeeeee));
  border: 1px solid #eee;
  padding: 1em; }
  body#scenarios_index #search_form h2 {
    font-size: 1.5em;
    margin-bottom: 1em; }
  body#scenarios_index #search_form p {
    margin-bottom: 1em; }
body#scenarios_index #selectable, body#scenarios_index #selected {
  background-color: #fdfdfd;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr="#fdfdfd"}, endColorstr="#eeeeee");
  background-image: -moz-linear-gradient(center top, #fdfdfd, #eeeeee);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fdfdfd), to(#eeeeee));
  border: 1px solid #eee;
  padding: 1em;
  margin-top: 12px;
  margin-bottom: 12px;
  float: left;
  width: 330px; }
  body#scenarios_index #selectable h3, body#scenarios_index #selected h3 {
    font-size: 1.3em; }
body#scenarios_index #selectable {
  margin-right: 12px; }
  body#scenarios_index #selectable #pagination {
    text-align: center; }
    body#scenarios_index #selectable #pagination a:hover {
      color: red; }
body#scenarios_index #form_footer {
  background-color: #fdfdfd;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr="#fdfdfd"}, endColorstr="#eeeeee");
  background-image: -moz-linear-gradient(center top, #fdfdfd, #eeeeee);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fdfdfd), to(#eeeeee));
  border: 1px solid #eee;
  clear: both;
  padding: 1em; }
body#scenarios_index .scenario {
  background-color: #fdfdfd;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr="#fdfdfd"}, endColorstr="#eeeeee");
  background-image: -moz-linear-gradient(center top, #fdfdfd, #eeeeee);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fdfdfd), to(#eeeeee));
  border: 1px solid #eee;
  position: relative;
  width: 300;
  padding: 5px;
  margin: 5px; }
  body#scenarios_index .scenario.featured {
    background-color: #b9ff4d;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr="#b9ff4d"}, endColorstr="#e1ff0b");
    background-image: -moz-linear-gradient(center top, #b9ff4d, #e1ff0b);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#b9ff4d), to(#e1ff0b)); }
  body#scenarios_index .scenario .actions {
    float: right; }
  body#scenarios_index .scenario .name {
    font-weight: bold;
    margin-bottom: 4px; }
  body#scenarios_index .scenario .age {
    font-style: italic;
    color: #777777; }

body#scenarios_compare h2 {
  font-size: 1.5em;
  margin-bottom: 20px; }
body#scenarios_compare .scenario {
  padding: 3px;
  border: 1px solid #eeeeee;
  float: left;
  margin: 5px; }
  body#scenarios_compare .scenario .name {
    margin: 5px 0px;
    font-weight: bold; }
  body#scenarios_compare .scenario .age {
    font-style: italic;
    margin-bottom: 10px; }
  body#scenarios_compare .scenario .close_link {
    text-align: right;
    background-color: #fb6a6f;
    padding: 3px; }
