.dashboard_item {
  margin-bottom: 10px;
  height: 100px;
  width: 140px;
  background: #f5f5f5;
  text-align: center; }
  .dashboard_item h3 {
    text-align: right;
    padding: 5px;
    color: #073571; }
  .dashboard_item .value {
    overflow: hidden;
    font-size: 1.6em;
    padding: 5px;
    margin-top: 20px;
    text-align: right;
    font-weight: bold;
    color: #073574; }
  .dashboard_item.energy_dependence_step_0 {
    background: #f5f5f5 url(/images/layout/gauge_6.png) 5px center no-repeat; }
  .dashboard_item.energy_dependence_step_1 {
    background: #f5f5f5 url(/images/layout/gauge_5.png) 5px center no-repeat; }
  .dashboard_item.energy_dependence_step_2 {
    background: #f5f5f5 url(/images/layout/gauge_4.png) 5px center no-repeat; }
  .dashboard_item.energy_dependence_step_3 {
    background: #f5f5f5 url(/images/layout/gauge_3.png) 5px center no-repeat; }
  .dashboard_item.energy_dependence_step_4 {
    background: #f5f5f5 url(/images/layout/gauge_2.png) 5px center no-repeat; }
  .dashboard_item.energy_dependence_step_5 {
    background: #f5f5f5 url(/images/layout/gauge_1.png) 5px center no-repeat; }
  .dashboard_item.energy_dependence_step_6 {
    background: #f5f5f5 url(/images/layout/gauge_0.png) 5px center no-repeat; }
  .dashboard_item.co2_emission_final_demand_to_1990_in_percent_step_0 {
    background: #f5f5f5 url(/images/layout/gauge_0.png) 5px center no-repeat; }
  .dashboard_item.co2_emission_final_demand_to_1990_in_percent_step_1 {
    background: #f5f5f5 url(/images/layout/gauge_1.png) 5px center no-repeat; }
  .dashboard_item.co2_emission_final_demand_to_1990_in_percent_step_2 {
    background: #f5f5f5 url(/images/layout/gauge_2.png) 5px center no-repeat; }
  .dashboard_item.co2_emission_final_demand_to_1990_in_percent_step_3 {
    background: #f5f5f5 url(/images/layout/gauge_3.png) 5px center no-repeat; }
  .dashboard_item.co2_emission_final_demand_to_1990_in_percent_step_4 {
    background: #f5f5f5 url(/images/layout/gauge_4.png) 5px center no-repeat; }
  .dashboard_item.co2_emission_final_demand_to_1990_in_percent_step_5 {
    background: #f5f5f5 url(/images/layout/gauge_5.png) 5px center no-repeat; }
  .dashboard_item.co2_emission_final_demand_to_1990_in_percent_step_6 {
    background: #f5f5f5 url(/images/layout/gauge_6.png) 5px center no-repeat; }
  .dashboard_item.share_of_renewable_energy_step_0 {
    background: #f5f5f5 url(/images/layout/gauge_0.png) 5px center no-repeat; }
  .dashboard_item.share_of_renewable_energy_step_1 {
    background: #f5f5f5 url(/images/layout/gauge_1.png) 5px center no-repeat; }
  .dashboard_item.share_of_renewable_energy_step_2 {
    background: #f5f5f5 url(/images/layout/gauge_2.png) 5px center no-repeat; }
  .dashboard_item.share_of_renewable_energy_step_3 {
    background: #f5f5f5 url(/images/layout/gauge_3.png) 5px center no-repeat; }
  .dashboard_item.share_of_renewable_energy_step_4 {
    background: #f5f5f5 url(/images/layout/gauge_4.png) 5px center no-repeat; }
  .dashboard_item.share_of_renewable_energy_step_5 {
    background: #f5f5f5 url(/images/layout/gauge_5.png) 5px center no-repeat; }
  .dashboard_item.share_of_renewable_energy_step_6 {
    background: #f5f5f5 url(/images/layout/gauge_6.png) 5px center no-repeat; }
  .dashboard_item.area_footprint_per_nl_step_0 {
    background: #f5f5f5 url(/images/layout/gauge_6.png) 5px center no-repeat; }
  .dashboard_item.area_footprint_per_nl_step_1 {
    background: #f5f5f5 url(/images/layout/gauge_5.png) 5px center no-repeat; }
  .dashboard_item.area_footprint_per_nl_step_2 {
    background: #f5f5f5 url(/images/layout/gauge_4.png) 5px center no-repeat; }
  .dashboard_item.area_footprint_per_nl_step_3 {
    background: #f5f5f5 url(/images/layout/gauge_3.png) 5px center no-repeat; }
  .dashboard_item.area_footprint_per_nl_step_4 {
    background: #f5f5f5 url(/images/layout/gauge_2.png) 5px center no-repeat; }
  .dashboard_item.area_footprint_per_nl_step_5 {
    background: #f5f5f5 url(/images/layout/gauge_1.png) 5px center no-repeat; }
  .dashboard_item.area_footprint_per_nl_step_6 {
    background: #f5f5f5 url(/images/layout/gauge_0.png) 5px center no-repeat; }

.total_amount {
  padding: 5px;
  height: 30px; }
  .total_amount h4 {
    font-weight: bold; }

.graph_shaded .total_amount {
  background: #fef4cb; }
.graph_shaded ul.chart li.oil {
  background: #c8cac9; }
.graph_shaded ul.chart li.gas {
  background: #a4deec; }
.graph_shaded ul.chart li.coal {
  background: #d2bcb8; }
.graph_shaded ul.chart li.nuclear {
  background: #fbd5a8; }
.graph_shaded ul.chart li.renewable {
  background: #a6cdbe; }
.graph_shaded ul.chart li.money {
  background: #e6ee97; }
.graph_shaded ul.chart li span.label {
  display: none; }

.graph_normal .total_amount {
  background: #fdd52c; }
.graph_normal ul.chart li.oil {
  background: #57585a; }
.graph_normal ul.chart li.gas {
  background: #2a9ac3; }
.graph_normal ul.chart li.coal {
  background: #71362b; }
.graph_normal ul.chart li.nuclear {
  background: #ee8208; }
.graph_normal ul.chart li.renewable {
  background: #1e693b; }
.graph_normal ul.chart li.money {
  background: #bed509; }
.graph_normal ul.chart li span.label {
  color: white; }

.chart_canvas_mix, .chart_canvas_money {
  float: left;
  height: 400px;
  margin-right: 5px;
  position: relative; }
  .chart_canvas_mix ul.chart, .chart_canvas_money ul.chart {
    position: absolute;
    bottom: 0;
    width: 100%; }
    .chart_canvas_mix ul.chart li.serie, .chart_canvas_money ul.chart li.serie {
      width: 100%;
      height: 20px;
      margin-top: 2px;
      font-size: 10px; }

.chart_canvas_mix {
  width: 50px; }

.chart_canvas_money {
  width: 10px; }

body#scenarios_new section#results, body#scenarios_create section#results {
  width: 240px;
  float: left; }
  body#scenarios_new section#results .current, body#scenarios_new section#results .user_created, body#scenarios_create section#results .current, body#scenarios_create section#results .user_created {
    float: left;
    margin-left: 20px;
    height: 430px; }
  body#scenarios_new section#results .current, body#scenarios_create section#results .current {
    width: 80px; }
  body#scenarios_new section#results .user_created, body#scenarios_create section#results .user_created {
    width: 100px; }
body#scenarios_new section#dashboard, body#scenarios_create section#dashboard {
  width: 120px;
  float: left; }
body#scenarios_new section#questions, body#scenarios_create section#questions {
  width: 350px;
  float: left;
  line-height: 1.5em; }
  body#scenarios_new section#questions nav, body#scenarios_create section#questions nav {
    display: block;
    text-align: center;
    height: 20px;
    padding: 4px;
    font-size: 10px; }
    body#scenarios_new section#questions nav a, body#scenarios_create section#questions nav a {
      margin: 0 5px;
      color: #bbbbbb;
      font-weight: bold; }
    body#scenarios_new section#questions nav#up, body#scenarios_create section#questions nav#up {
      background-color: #f5f5f5;
      margin-bottom: 10px; }
      body#scenarios_new section#questions nav#up a, body#scenarios_create section#questions nav#up a {
        margin: 12px; }
        body#scenarios_new section#questions nav#up a.active, body#scenarios_create section#questions nav#up a.active {
          color: red; }
        body#scenarios_new section#questions nav#up a:hover, body#scenarios_create section#questions nav#up a:hover {
          color: #d70000; }
    body#scenarios_new section#questions nav ol li, body#scenarios_create section#questions nav ol li {
      float: left;
      margin: 2px 12px; }
      body#scenarios_new section#questions nav ol li.active, body#scenarios_create section#questions nav ol li.active {
        color: red; }
    body#scenarios_new section#questions nav#down, body#scenarios_create section#questions nav#down {
      clear: both;
      border-top: 1px solid #989898; }
      body#scenarios_new section#questions nav#down a, body#scenarios_create section#questions nav#down a {
        font-weight: bold;
        color: #323232; }
        body#scenarios_new section#questions nav#down a:hover, body#scenarios_create section#questions nav#down a:hover {
          text-decoration: underline; }
        body#scenarios_new section#questions nav#down a#next_question, body#scenarios_create section#questions nav#down a#next_question {
          background: transparent url(images/link_arrow.png) center left no-repeat;
          padding-left: 16px; }
        body#scenarios_new section#questions nav#down a#previous_question, body#scenarios_create section#questions nav#down a#previous_question {
          background: transparent url(images/reverse_link_arrow.png) center left no-repeat;
          padding-left: 16px; }
  body#scenarios_new section#questions .question .information, body#scenarios_create section#questions .question .information {
    padding: 10px;
    background-color: #f5f5f5;
    margin-bottom: 10px; }
    body#scenarios_new section#questions .question .information strong, body#scenarios_create section#questions .question .information strong {
      font-weight: bold; }
    body#scenarios_new section#questions .question .information a, body#scenarios_create section#questions .question .information a {
      text-decoration: underline; }
  body#scenarios_new section#questions .question .number, body#scenarios_create section#questions .question .number {
    font-weight: bold;
    width: 5%;
    float: left;
    padding-left: 7px; }
  body#scenarios_new section#questions .question .text, body#scenarios_create section#questions .question .text {
    float: left;
    width: 90%;
    line-height: 18px;
    font-weight: bold;
    margin-bottom: 10px; }
  body#scenarios_new section#questions .question ul.answers li.answer, body#scenarios_create section#questions .question ul.answers li.answer {
    float: left;
    width: 100%;
    margin-left: 0;
    font-weight: bold;
    list-style-type: none;
    clear: both; }
    body#scenarios_new section#questions .question ul.answers li.answer label, body#scenarios_create section#questions .question ul.answers li.answer label {
      width: 100%;
      float: left;
      padding: 5px 0;
      margin-bottom: 4px;
      font-weight: normal; }
      body#scenarios_new section#questions .question ul.answers li.answer label .number, body#scenarios_create section#questions .question ul.answers li.answer label .number {
        padding-top: 1px; }
      body#scenarios_new section#questions .question ul.answers li.answer label .text, body#scenarios_create section#questions .question ul.answers li.answer label .text {
        font-weight: normal;
        margin: 0 0 0 0; }
      body#scenarios_new section#questions .question ul.answers li.answer label a, body#scenarios_create section#questions .question ul.answers li.answer label a {
        text-decoration: underline; }
    body#scenarios_new section#questions .question ul.answers li.answer input[type=radio], body#scenarios_create section#questions .question ul.answers li.answer input[type=radio] {
      display: none; }
    body#scenarios_new section#questions .question ul.answers li.answer.active label, body#scenarios_new section#questions .question ul.answers li.answer:hover label, body#scenarios_create section#questions .question ul.answers li.answer.active label, body#scenarios_create section#questions .question ul.answers li.answer:hover label {
      background-color: #fef6d7;
      cursor: pointer; }
    body#scenarios_new section#questions .question ul.answers li.answer:hover label .text, body#scenarios_create section#questions .question ul.answers li.answer:hover label .text {
      text-decoration: underline; }
  body#scenarios_new section#questions .question #user_details a, body#scenarios_create section#questions .question #user_details a {
    text-decoration: underline; }
  body#scenarios_new section#questions .question #user_details h2, body#scenarios_create section#questions .question #user_details h2 {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px; }
  body#scenarios_new section#questions .question #user_details .text, body#scenarios_create section#questions .question #user_details .text {
    padding: 10px;
    background-color: #f5f5f5; }
    body#scenarios_new section#questions .question #user_details .text p, body#scenarios_create section#questions .question #user_details .text p {
      font-weight: normal;
      line-height: 14px; }
  body#scenarios_new section#questions .question #user_details .item, body#scenarios_create section#questions .question #user_details .item {
    padding: 3px;
    clear: left; }
    body#scenarios_new section#questions .question #user_details .item .field_with_errors, body#scenarios_create section#questions .question #user_details .item .field_with_errors {
      color: red;
      font-weight: bold;
      float: left;
      position: relative;
      height: 36px; }
    body#scenarios_new section#questions .question #user_details .item label, body#scenarios_create section#questions .question #user_details .item label {
      font-size: 11px;
      display: block;
      float: left;
      width: 80px;
      padding: 5px;
      text-align: right; }
    body#scenarios_new section#questions .question #user_details .item input, body#scenarios_new section#questions .question #user_details .item select, body#scenarios_create section#questions .question #user_details .item input, body#scenarios_create section#questions .question #user_details .item select {
      display: block;
      float: left;
      padding: 3px;
      margin: 4px; }
    body#scenarios_new section#questions .question #user_details .item input[type=text], body#scenarios_create section#questions .question #user_details .item input[type=text] {
      width: 220px; }
    body#scenarios_new section#questions .question #user_details .item input[type=submit], body#scenarios_create section#questions .question #user_details .item input[type=submit] {
      float: right;
      margin-right: 20px;
      margin-bottom: 20px; }
  body#scenarios_new section#questions .question #user_details #errorExplanation, body#scenarios_create section#questions .question #user_details #errorExplanation {
    border: 1px solid red;
    margin: 3px 3px 20px 3px; }
    body#scenarios_new section#questions .question #user_details #errorExplanation h2, body#scenarios_create section#questions .question #user_details #errorExplanation h2 {
      padding: 5px;
      background-color: red;
      color: white;
      font-size: 1.3em;
      margin-bottom: 0.5em;
      border-bottom: 1px solid; }
    body#scenarios_new section#questions .question #user_details #errorExplanation p, body#scenarios_new section#questions .question #user_details #errorExplanation ul, body#scenarios_create section#questions .question #user_details #errorExplanation p, body#scenarios_create section#questions .question #user_details #errorExplanation ul {
      padding: 5px; }
  body#scenarios_new section#questions #notice, body#scenarios_create section#questions #notice {
    display: none;
    text-align: center;
    color: red; }
body#scenarios_new .question_popup h1, body#scenarios_create .question_popup h1 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.7em; }

body#scenarios_show section#left {
  width: 50%;
  float: left; }
  body#scenarios_show section#left .text {
    padding: 1.5em;
    font-size: 1em; }
    body#scenarios_show section#left .text .name {
      font-weight: bold;
      margin-bottom: 10px; }
    body#scenarios_show section#left .text .title {
      font-weight: bold; }
  body#scenarios_show section#left .links {
    padding: 5px; }
    body#scenarios_show section#left .links a {
      font-weight: bold;
      display: block;
      margin-bottom: 5px;
      margin-left: 12px;
      background: transparent url(images/link_arrow.png) center left no-repeat;
      padding-left: 16px; }
      body#scenarios_show section#left .links a:hover {
        text-decoration: underline; }
  body#scenarios_show section#left .boxes {
    margin-top: 10px; }
    body#scenarios_show section#left .boxes .dashboard_item {
      float: left;
      width: 150px;
      margin: 12px; }
body#scenarios_show section#right {
  width: 40%;
  float: left; }
  body#scenarios_show section#right .user, body#scenarios_show section#right .current {
    float: left; }
  body#scenarios_show section#right .user {
    width: 120px;
    margin-left: 10px; }
    body#scenarios_show section#right .user .chart_canvas_mix {
      width: 80px; }
    body#scenarios_show section#right .user .chart_canvas_money {
      width: 10px;
      margin-left: 10px; }
  body#scenarios_show section#right .current {
    width: 80px;
    margin-left: 30px; }
    body#scenarios_show section#right .current .chart_canvas_mix {
      width: 50; }
    body#scenarios_show section#right .current .chart_canvas_money {
      width: 5px;
      margin-left: 6px; }

body#scenarios_index section#scenarios .scenario {
  position: relative;
  width: 350px;
  padding: 5px 5px 5px 20px;
  margin: 5px;
  height: 40px;
  border-bottom: 1px solid #cccccc;
  background: transparent url(/images/graph_icon.png) center left no-repeat; }
  body#scenarios_index section#scenarios .scenario .actions {
    width: 120px;
    float: right;
    font-weight: bold; }
    body#scenarios_index section#scenarios .scenario .actions .show {
      padding: 5px; }
      body#scenarios_index section#scenarios .scenario .actions .show a {
        background: transparent url(images/link_arrow.png) center left no-repeat;
        padding-left: 16px; }
  body#scenarios_index section#scenarios .scenario .name {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 4px;
    margin-top: 15px; }
body#scenarios_index section#scenarios section#left {
  width: 360px;
  float: left; }
  body#scenarios_index section#scenarios section#left #selected {
    padding: 1em; }
    body#scenarios_index section#scenarios section#left #selected a {
      font-weight: bold;
      background: transparent url(images/link_arrow.png) center left no-repeat;
      padding-left: 16px; }
    body#scenarios_index section#scenarios section#left #selected span.compared {
      color: #cccccc; }
    body#scenarios_index section#scenarios section#left #selected .scenarios .scenario {
      display: none; }
body#scenarios_index section#scenarios section#right {
  width: 360px;
  float: left; }
  body#scenarios_index section#scenarios section#right h3 {
    padding: 1em;
    font-weight: bold; }

body#scenarios_compare .scenario, body#scenarios_compare .current_scenario {
  height: 790px;
  float: left;
  margin-top: 10px;
  position: relative; }
  body#scenarios_compare .scenario .name, body#scenarios_compare .current_scenario .name {
    margin: 5px 0px 20px 0px;
    font-weight: bold; }
  body#scenarios_compare .scenario .dashboard, body#scenarios_compare .current_scenario .dashboard {
    clear: left;
    padding: 10px; }
    body#scenarios_compare .scenario .dashboard .item, body#scenarios_compare .current_scenario .dashboard .item {
      height: 50px;
      padding: 10px;
      background: none;
      border-top: 1px solid #cccccc;
      text-align: left;
      color: #0b3476; }
      body#scenarios_compare .scenario .dashboard .item h3, body#scenarios_compare .current_scenario .dashboard .item h3 {
        font-size: 10px;
        font-weight: bold; }
      body#scenarios_compare .scenario .dashboard .item .value, body#scenarios_compare .current_scenario .dashboard .item .value {
        font-size: 16px;
        font-weight: bold; }
body#scenarios_compare .scenario {
  width: 130px; }
  body#scenarios_compare .scenario .chart_canvas_mix {
    width: 80px; }
  body#scenarios_compare .scenario .chart_canvas_money {
    width: 10px; }
body#scenarios_compare .current_scenario {
  width: 130px; }
  body#scenarios_compare .current_scenario .chart_canvas_mix {
    width: 50px; }
  body#scenarios_compare .current_scenario .chart_canvas_money {
    width: 8px; }
  body#scenarios_compare .current_scenario .name {
    color: #acacac; }
  body#scenarios_compare .current_scenario .dashboard .item {
    color: #768eb9; }
body#scenarios_compare .spacer {
  margin: 10px;
  width: 1px;
  height: 690px;
  float: left;
  background-color: #cccccc; }

body#scenarios_answers h2, body#scenarios_show #colorbox h2 {
  font-size: 1.8em;
  font-weight: bold;
  margin-bottom: 1em; }
body#scenarios_answers dl, body#scenarios_show #colorbox dl {
  font-size: 1.1em;
  line-height: 15px; }
  body#scenarios_answers dl dt, body#scenarios_show #colorbox dl dt {
    font-weight: bold; }
  body#scenarios_answers dl dd, body#scenarios_show #colorbox dl dd {
    margin-bottom: 1em; }

section#search_scenarios_box {
  background-color: #f5f5f5;
  padding: 1em;
  margin-bottom: 10px; }
  section#search_scenarios_box div.left {
    float: left;
    width: 350px; }
    section#search_scenarios_box div.left h2 {
      color: #2f2f2f;
      font-weight: bold;
      font-size: 1.1em;
      margin-bottom: 1em; }
    section#search_scenarios_box div.left input[type=text] {
      padding: 5px;
      width: 320px; }
  section#search_scenarios_box div.right {
    float: left; }
    section#search_scenarios_box div.right a {
      font-weight: bold;
      background: transparent url(images/link_arrow.png) center left no-repeat;
      padding-left: 16px; }
