table.striped {
  width: 100%; }
  table.striped td {
    padding: 0.4em; }
  table.striped thead tr {
    background: #999999;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$first', endColorstr='$second');
    background: -webkit-gradient(linear, left top, left bottom, from(#555555), to(#999999));
    background: -moz-linear-gradient(top, #555555, #999999);
    background-color: #aaaaaa; }
    table.striped thead tr th {
      color: white;
      text-align: left;
      padding: 0.5em;
      font-weight: bold;
      border: 1px solid #dddddd;
      font-weight: 300; }
      table.striped thead tr th.small {
        font-size: 0.7em; }
  table.striped tbody tr td {
    font-weight: 100;
    border: 1px solid #dddddd; }
    table.striped tbody tr td.small {
      font-size: 0.7em; }
  table.striped tbody tr.even {
    background-color: #eeeeee; }
