body.mixer2050
  .graph_normal
    .total_amount
      background: #0B3375
      color: #fff
      border: 1px solid #ffffff
      @include shadow(#D8D8D8, 5px)  
  .charts_container
    .chart_canvas_mix
      height: 350px
      float: right
      margin-right: 10px
      ul.chart
        position: absolute
        bottom: 0
        width: 100%
        li.serie
          float: right
      
