@import '../mixins'
@import 'shared'

@import 'pages_home'

body.mixer2050
  width: 890px
  &#scenarios_new
    #questions
      @include shell_gradient_layer
      margin-right: 10px
      height: 430px
      width: 429px
      overflow: auto
      nav#up
        @include shell_gradient_layer
    #results
      width: 360px
      height: 430px
      margin-right: 10px
      @include shell_gradient_layer
      .header
        @include header_blue
      .subheader
        @include subheader_blue
      .user_created
        width: 210px
        float: left
        margin-left: 0
      #dashboard
        width: 150px
        float: left
        .dashboard_items
          background-color: #CFD1D0
          .dashboard_item
            background-color: #F8F8F8
            height: 88px
            width: 148px
            margin: 1px
    #current_graph
      width: 75px
      float: left
      height: 430px
      @include shell_gradient_layer
      .header
        @include header_grey
      .subheader
        @include subheader_grey

  &#scenarios_index
    section#left
      width: 435px
      float: left
      margin-right: 10px
    section#right
      width: 435px
      float: left
      section#select
        height: 300px
        padding: 10px
        margin-bottom: 10px
        @include shell_gradient_layer
        h3
          font-weight: bold
          font-size: 14px
          margin: 10px 0
      section.scenarios
        @include shell_gradient_layer
        padding: 10px

    .scenario
      @include shell_gradient_layer
      position: relative
      padding: 5px 5px 5px 10px
      margin: 5px 0
      height: 49px
      border-bottom: 1px solid #CCCCCC
      .image
        float: left
        margin: 10px 5px
      .actions
        width: 120px
        float: right
        font-weight: bold
        .show
          padding: 5px
          a
            @include link_arrow_prefix
      .name
        font-size: 13px
        font-weight: bold
        margin-bottom: 4px
        margin-top: 15px
      .date
        color: #777
        font-size: .9em

  &#scenarios_show
    section#left
      width: 440px
      float: left
      margin-right: 10px
      section#description
        padding: 10px
        // height: 114px
        @include shell_gradient_layer
        margin-bottom: 10px
        height: 415px
        line-height: 20px
    section#right
      float: left
      width: 440px
      .text
        padding: 10px
        height: 88px
        @include shell_gradient_layer
        margin-bottom: 10px
      .charts
        @include shell_gradient_layer
        height: 434px
        .left
          float: left
          width: 356px
          .header
            border: 1px solid #0B3375
            height: 30px
            color: #ffffff
            text-align: center
            background-color: #0B3375
            font-weight: bold
            line-height: 28px
            @include shadow(#D8D8D8, 8px)
          .subheader
            height: 30px
            color: #0B327B
            line-height: 28px
            text-align: center
            @include shell_gradient_layer
          .user
            float: left
            width: 210px
            margin: 0
            border-right: 1px solid #D1D1D1
          .boxes
            float: left
            width: 145px
            .dashboard_item
              clear: none
              height: 92px
              border-bottom: 1px solid #d1d1d1
              margin: 0
              background-color: #F2F2F2

        .right
          float: left
          .current
            width: 70px
            margin-left: 10px
            @include shell_gradient_layer
            .header
              border: 1px solid #ffffff
              height: 30px
              color: #ffffff
              text-align: center
              @include gradient(#919191, #BABABA)
              @include shadow(#D8D8D8, 8px)
            .subheader
              height: 30px
              color: #A1A1A1
              line-height: 28px
              text-align: center
              @include shell_gradient_layer
  &#scenarios_compare
    section#left
      float: left
      width: 440px
      margin-right: 10px
      .full_chart
        float: right
    section#right
      float: left
      width: 440px
      section#select
        height: 88px
        padding: 10px
        margin-bottom: 10px
        @include shell_gradient_layer
    section#main
      text-align: center
      
    

@import 'chart'
