@import '../mixins'

@mixin shell_gradient_layer
  @include gradient(#FEFFFE, #E9E9E9)
  border: 1px solid #FEFFFE
  @include shadow(#D8D8D8, 8px)

body.mixer2050
  width: 890px
  .graph_normal
    .total_amount
      background: #0B3375
      color: #fff
      border: 1px solid #ffffff
      @include shadow(#D8D8D8, 5px)
  
  &#pages_home
    #intro_text
      @include shell_gradient_layer
      h2
        font-size: 30px
        letter-spacing: -1px
    #actions
      padding: 15px 10px
      a
        margin-right: 50px
    #map
      height: 509px
      padding: 15px 10px
      @include shell_gradient_layer
      h3
        font-weight: bold
        font-size: 14px
        margin: 10px 0
      #intro
      #graph
        float: right
      #sectors
        width: 220px
        .sector
          margin: 2px 4px
          width: 100px
          float: left
  &#scenarios_new
    #questions
      @include shell_gradient_layer
      margin-right: 10px
      height: 430px
      width: 429px
      nav#up
        @include shell_gradient_layer
    #results
      width: 360px
      height: 430px
      margin-right: 10px
      @include shell_gradient_layer
      .header
        height: 30px
        background: #0B3375
        color: #fff
        border: 1px solid #ffffff
        text-align: center
        font-weight: bold
        line-height: 28px
      .subheader
        height: 30px
        color: #0B3375
        line-height: 28px
        text-align: center
        font-weight: bold
        @include shell_gradient_layer
      .user_created
        width: 210px
        float: left
        margin-left: 0
      #dashboard
        width: 150px
        float: left
        .dashboard_items
          background-color: #CFD1D0
          .dashboard_item
            background-color: #F8F8F8
            height: 88px
            width: 148px
            margin: 1px
    #current_graph
      width: 75px
      float: left
      height: 430px
      @include shell_gradient_layer
      .header
        border: 1px solid #ffffff
        height: 30px
        color: #ffffff
        text-align: center
        @include gradient(#919191, #BABABA)
        @include shadow(#D8D8D8, 8px)
      .subheader
        height: 30px
        color: #A1A1A1
        line-height: 28px
        text-align: center
        @include shell_gradient_layer


  &#scenarios_index
    section#left
      width: 435px
      float: left
      margin-right: 10px
      section#search
        padding: 10px
        @include shell_gradient_layer
        h3
          margin: 15px 0
          font-weight: bold
          font-size: 14px
        input
          width: 390px
          padding: 5px
    section#right
      width: 435px
      float: left
      section#select
        height: 300px
        padding: 10px
        @include shell_gradient_layer
        h3
          font-weight: bold
          font-size: 14px
          margin: 10px 0
      section.scenarios
        @include shell_gradient_layer
        padding: 10px

    .scenario
      @include shell_gradient_layer
      position: relative
      padding: 5px 5px 5px 20px
      margin: 5px 0
      height: 49px
      border-bottom: 1px solid #CCCCCC
      // background: transparent url(/images/graph_icon.png) center left no-repeat
      .actions
        width: 120px
        float: right
        font-weight: bold
        .show
          padding: 5px
          a
            @include link_arrow_prefix
      .name
        font-size: 13px
        font-weight: bold
        margin-bottom: 4px
        margin-top: 15px
      .date
        color: #777
        font-size: .9em

@import 'stack'
