%p
  Beste #{@scenario.name},

%p
  Hierbij sturen we je de directe link naar het scenario dat je in de Future Energy Mixer hebt gemaakt.

%p
  = link_to scenario_url(@scenario), scenario_url(@scenario)

%p
  Ook kun je door op onderstaande link te klikken toegang krijgen tot jouw scenario in het Energietransitiemodel. Je kunt dan zelf verdere verfijningen aanbrengen of dingen nog aanpassen net zoals de echte beleidsmakers dat doen.

%p
  = link_to "Open in ET-Model", @etm_scenario_url

%p
  Als je een idee hebt om de Energy Mixer te verbeteren of gewoon een reactie wilt geven stuur dan een mail naar:
  = link_to "future_energy_mixer@quintel.com", "mailto:future_energy_mixer@quintel.com"

%p
  Met vriendelijke groeten,

%p
  Shell & Quintel
