#passepartout
  #mixholder.solid
    %ul#mix
      - @results.each do |k, h|
        %li{:class => h[:gquery]}
          %span= h[:label]
  = link_to 'solid', '#', :id => 'solid_view'
  \|
  = link_to '3d', '#', :id => '3d_view'
  