#graph_container
  %table.combined_graph
    %tr
      %td.total_amount{:colspan => 2}        
        %h4 Scenario 2025
        %span ...
        Miljard
    %tr
      %td.carriers
        %ul.cilinder
          - @results.each do |_, item|
            %li{:class => [item[:css_class], item[:gquery]]}
              %span= item[:label]
      %td.money
        .background
          .coins
    %tr
      %td
        = link_to 'solid', '#', :id => 'solid_view'
        \|
        = link_to '3d', '#', :id => '3d_view'
      %td
  