%nav#up
  -@questions.each do |question|
    %a{:href  => "#",
       :rel   => "question_#{question.id}",
       :class => 'question_tab',
       :'data-question_id' => question.number}
      =question.number

= form_for @user_scenario, home_path, :method => :post do |f|
  = render :partial => 'question', :collection => @questions, :locals => { :f => f}
  = render :partial => 'user_details', :locals => { :f => f}
.clear
%nav#down
  %a{:href=>"#", :id=>"previous_question"}
    previous        
  %a{:href=>"#", :id=>"next_question"}
    next
