%nav#up
  -@questions.each do |question|
    %a{:href=>"#", :rel=>"question_#{question.id}"}
      =question.number

= form_tag home_path, :method => :get do
  = render :partial => 'question', :collection => @questions
%nav#down
  %a{:href=>"#", :id=>"previous_question"}
    previous        
  %a{:href=>"#", :id=>"next_question"}
    next
