- graph_max_height = 290
- current_graph_height = scenario.total_amount / scenario.max_amount * graph_max_height;

%table.combined_graph
  %tr
    %td.total_amount{:colspan => 2}      
      %h4 Scenario 2025
      %span= number_with_precision(scenario.total_amount / 1_000_000_000, :precision => 2)
      Miljard      
  %tr
    %td.carriers
      .graph.textured
        - scenario.carriers.each_pair do |key, v|
          - height = v[:ratio] * current_graph_height
          .carrier{:class => key, :style => "height: #{height}px"}
            .label= v[:label] if height > 5
    %td.money
      .background
        .coins{:style => "height: #{current_graph_height + 6}px"}
