:javascript
  $.each(#{options_for_javascript(slider_values)}, function(slider_id, value) {
    mixer.set_input(slider_id, value)
  });

  $.each($(".output[gquery]"), function(id, output) {
    mixer.set_output($(output).attr("gquery"));
  });

  mixer.refresh(function(data) {
    $.each(data, function(parameter, result) { $('.output[gquery="' + parameter + '"]').html(result[1][1]) });
  });
