%section#intro_text
  %h2 Dit is het energieverbruik van Nederland in 2011
  %p
    In Nederland komt bijna 92% van de energie die we gebruiken van aardolie, aardgas en steenkool. Ons transport is bijna volledig gebaseerd op aardolie, de verwarming en de electriciteit in onze huizen wordt voornamelijk opgewekt met aardgas en steenkool. Maar willen we dit en kan dit zo blijven? Hoe denkt u dat de energiemix van Nederland er over 15 jaar uit zal zien? Maak met de Future Energy Mixer eenvoudig uw eigen mix, gebaseerd op het zelfde rekenmodel waar ook beleidsmakers mee werken..
  %p
    = link_to "Bekijk de EnergyMixes van anderen", scenarios_path
    = link_to "Maak je eigen EnergyMix", new_scenario_path
  
%section#sectors
  %h2 Meer informatie over het energieverbruik in verschillende sectoren
  .sector
    %h2 Industrie (47%)
    .content
      De industrie is de grootse gebruiker van aardolie, -gas en steenkool. De industrie levert de basis voor onze economie maar tegelijkertijd consumeert hij ook veel schaarse grondstoffen. Wat gebeurt er met het energiegebruik van onze industrie in 2025?
  .sector
    %h2 Vervoer (18%)
    .content
      Vervoer per auto, vrachtwagen, trein of binnenvaartschip is energieintensief. In deze mixer beperken we ons tot het binnenlands vervoer. Als we het energiegebruik van de internationale lucht- en scheepvaart er bij zouden optellen dan zou dit percentage veel hoger zijn. Kunnen we onszelf en onze goederen niet slimmer vervoeren in 2025?
  .sector
    %h2 Gebouwen (28%)
    .content
      Ruim 70% van de energie voor huizen, scholen en kantoorgebouwen is voor verwarming of koeling. In huizen is ongeveer 20% nodig voor elektriciteit, in scholen en kantoorgebouwen is dit relatief iets meer. Maar hebben we die energie ook nog nodig in 2025?
  .sector
    %h2 Landbouw (6%)
    .content
      Het directe energiegebruik van de akkerbouw en veeteelt in Nederland is relatief laag. We tellen dan het energiegebruik door veevoeders uit het buitenland niet mee. De Nederlandse glastuinbouw is energieintensief. Kassen verbruiken ongeveer 80% van de energie in de Nederlandse landbouw. Kan dit ook anders in 2025?
    
%section#current_state
  123
    
- content_for :head do
  = stylesheet_link_tag 'pages'