.chart
  .chart_canvas_mix
    %ul.chart
      %li.serie.coal
        Coal
      %li.serie.gas
        Gas
      %li.serie.oil
        Oil
      %li.serie.uranium
        Uranium
      %li.serie.renewable
        Renewable
  .chart_canvas_money
    %ul.chart
      %li.serie.money