.charts
  .chart_canvas_mix
    %ul.chart
      %li.serie#coal
        Coal
      %li.serie#gas
        Gas
      %li.serie
        Oil
      %li.serie
        Uranium
  .chart_canvas_money
    %ul.chart
      %li.serie#money