# APPLICATION-WIDE SETTINGS --------------------------------------------------

# Settings which affect the whole application (regardless of the subdomain).

application:
  development: &application
    airbrake_key:         false
    api_proxy_url:        '/ete_proxy'
    api_url:              'http://etengine.dev/api/v2'
    disable_cors:         false
    geolocation_enabled:  false
    local_proxy:          true
    standalone:           false
    view_scenario_path:   'http://etmodel.dev/scenarios'
    default_app:          'mixer'
  production:
    <<: *application
    api_url:              'http://api.et-model.com/api/v2'
    local_proxy:          false
    view_scenario_path:   'http://et-model.com/scenarios'
  test:
    <<: *application

# ENERGYMIXER ----------------------------------------------------------------

mixer:
  development: &mixer
    locales:              ['nl', 'en']
    hostname:             'mixer.mixer.dev'
    max_total_cost:       205000000000
    score:                false
    api_session_settings:
      area_code:          'nl'
      source:             'EnergyMixer'
  production:
    <<: *mixer
    hostname:             'mixer.et-model.com'
    google_analytics_key: 'UA-25446433-1'
  test:
    <<: *mixer

# GASMIXER -------------------------------------------------------------------

gasmixer:
  development: &gasmixer
    locales:              ['en', 'nl', 'de']
    hostname:             'gasmixer.mixer.dev'
    max_total_cost:       131000000000
    score:                true
    api_session_settings:
      area_code:          'nl'
      source:             'GasMixer'
  production:
    <<: *gasmixer
    hostname:             'gasmixer.et-model.com'
    google_analytics_key: 'UA-4089905-6'
  test:
    <<: *gasmixer
