:ruby
  max_height = 360
  max_amount = Scenario::MaxAmount
  # set static to true if you don't want js to update the chart
  static     = local_assigns.has_key?(:static) ? true : false
  width      = 80
  rounded_sum = 0
  current_chart_height = scenario.total_amount / max_amount.to_f * max_height

.charts_container
  .chart_canvas_mix{:style=>"width: #{width}px;"}
    %ul.chart{:class => static && 'static'}
      - scenario.carriers.each_pair do |key, v|
        - height = (v[:ratio] * current_chart_height).round
        %li.serie{:class => [key, Scenario::PrimaryMixTable[key]], :style => "height: #{height}px", :title => I18n.t(key)}
  .chart_canvas_money
    %ul.chart
      %li.serie.money{:style => "height: #{rounded_sum + 8}px"}
  = render 'renewables_float', :scenario => scenario
