:ruby
  score_items = {
    cost: "Kosten", 
    co2: "Co2", 
    renewables: "Hernieuwbaar", 
    areafp: "Bio-voetafdruk", 
    import: "Energie import"
  }

#score
  Jouw score:
  %strong.value 0
  #show_info
.score_details{:style=>"display:none;"}
  %table
    - score_items.each do |key, label|
      %tr{:class => cycle("odd","even")}
        %td= label
        %td{:class => key} 0.00
  %p.explanation
    * je score is altijd nul als je vraag 1 en 2 nog niet hebt ingevuld
.clear
