%section#search_scenarios_box.shaded_gradient
  = link_to t('links.scenarios_new'), new_scenario_path, :class => 'shell'
  %h3= t 'links.scenarios_index'
  = form_tag scenarios_path, :method => :get do
    = text_field_tag :q, params[:q], :placeholder => t('search')
.clear
