%section#search_scenarios_box.shaded_gradient
  = link_to "Maak uw eigen Energy Mix", new_scenario_path, :class => 'shell'
  %h3 Bekijk de Energy Mixes van anderen
  = form_tag scenarios_path, :method => :get do
    = text_field_tag :q, params[:q], :placeholder => 'Zoeken'
.clear
