:ruby
  max_height = 360
  max_amount = partition.max_cost
  width = 50
  rounded_sum = 0
  current_chart_height = Math.sqrt(scenario.total_amount / max_amount.to_f) * max_height
.shaded_chart
  %header.header_grey Energy Mix 2011
  %header.sub.subheader_grey.shaded_gradient
    = t 'chart.shaded.amount', :amount => number_with_precision(scenario.total_amount / 1_000_000_000, :precision => 1, :separator => ".")

  .charts_container.static
    .chart_canvas_mix{:style => "width: #{width}px"}
      %ul.chart
        - scenario.carrier_ratios.each_pair do |carrier, ratio|
          - height = ratio * current_chart_height
          %li.serie{:class => [carrier, Scenario::PrimaryTable[carrier]], :style => "height: #{height}px", :title => I18n.t(carrier)}
    = render 'renewables_float', :scenario => scenario
