%h2 Antwoorden van deze mix

%dl
  - @scenario.answers.each do |a|
    %dt
      #{a.question.number}.
      = a.question.question
    -if a.answer
      %dd= a.answer.answer 
    -else
      %dd **Geen antwoord gegeven**

- content_for :head do
  = stylesheet_link_tag 'scenarios'