@mixin shadow($color: #333333, $radius: 5px, $offset: 2px)
  -moz-box-shadow: 0px $offset $radius $color
  -webkit-box-shadow: 0px $offset $radius $color
  box-shadow: 0px $offset $radius $color
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=180, Color='#{$color}')"
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=180, Color='#{$color}')

@mixin gradient($color1, $color2)
  background-color: $color1
  -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr=#{$color1}, endColorstr=#{$color2})"
  background-image: -moz-linear-gradient(center top, $color1, $color2)
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($color1), to($color2))

@mixin link_arrow_prefix
  background: transparent url(/images/layout/flat/link_arrow.png) center left no-repeat
  padding-left: 16px

@mixin close_button_link
  width: 10px
  height: 10px
  background: url(/images/icons/close.png) center center no-repeat
  text-indent: -9999px
