.dashboard_item {
  margin-bottom: 10px;
  height: 100px;
  width: 140px;
  background: #f5f5f5;
  text-align: center; }
  .dashboard_item h3 {
    text-align: right;
    padding: 5px;
    color: #073571; }
  .dashboard_item .value {
    overflow: hidden;
    font-size: 1.6em;
    padding: 5px;
    margin-top: 20px;
    text-align: right;
    font-weight: bold;
    color: #073574; }
  .dashboard_item.energy_dependence_step_0 {
    background: #f5f5f5 url(/images/layout/flat/gauge_6.png) 5px center no-repeat; }
  .dashboard_item.energy_dependence_step_1 {
    background: #f5f5f5 url(/images/layout/flat/gauge_5.png) 5px center no-repeat; }
  .dashboard_item.energy_dependence_step_2 {
    background: #f5f5f5 url(/images/layout/flat/gauge_4.png) 5px center no-repeat; }
  .dashboard_item.energy_dependence_step_3 {
    background: #f5f5f5 url(/images/layout/flat/gauge_3.png) 5px center no-repeat; }
  .dashboard_item.energy_dependence_step_4 {
    background: #f5f5f5 url(/images/layout/flat/gauge_2.png) 5px center no-repeat; }
  .dashboard_item.energy_dependence_step_5 {
    background: #f5f5f5 url(/images/layout/flat/gauge_1.png) 5px center no-repeat; }
  .dashboard_item.energy_dependence_step_6 {
    background: #f5f5f5 url(/images/layout/flat/gauge_0.png) 5px center no-repeat; }
  .dashboard_item.co2_emission_percent_change_from_1990_corrected_for_electricity_import_step_0 {
    background: #f5f5f5 url(/images/layout/flat/gauge_6.png) 5px center no-repeat; }
  .dashboard_item.co2_emission_percent_change_from_1990_corrected_for_electricity_import_step_1 {
    background: #f5f5f5 url(/images/layout/flat/gauge_5.png) 5px center no-repeat; }
  .dashboard_item.co2_emission_percent_change_from_1990_corrected_for_electricity_import_step_2 {
    background: #f5f5f5 url(/images/layout/flat/gauge_4.png) 5px center no-repeat; }
  .dashboard_item.co2_emission_percent_change_from_1990_corrected_for_electricity_import_step_3 {
    background: #f5f5f5 url(/images/layout/flat/gauge_3.png) 5px center no-repeat; }
  .dashboard_item.co2_emission_percent_change_from_1990_corrected_for_electricity_import_step_4 {
    background: #f5f5f5 url(/images/layout/flat/gauge_2.png) 5px center no-repeat; }
  .dashboard_item.co2_emission_percent_change_from_1990_corrected_for_electricity_import_step_5 {
    background: #f5f5f5 url(/images/layout/flat/gauge_1.png) 5px center no-repeat; }
  .dashboard_item.co2_emission_percent_change_from_1990_corrected_for_electricity_import_step_6 {
    background: #f5f5f5 url(/images/layout/flat/gauge_0.png) 5px center no-repeat; }
  .dashboard_item.share_of_renewable_energy_step_0 {
    background: #f5f5f5 url(/images/layout/flat/gauge_0.png) 5px center no-repeat; }
  .dashboard_item.share_of_renewable_energy_step_1 {
    background: #f5f5f5 url(/images/layout/flat/gauge_1.png) 5px center no-repeat; }
  .dashboard_item.share_of_renewable_energy_step_2 {
    background: #f5f5f5 url(/images/layout/flat/gauge_2.png) 5px center no-repeat; }
  .dashboard_item.share_of_renewable_energy_step_3 {
    background: #f5f5f5 url(/images/layout/flat/gauge_3.png) 5px center no-repeat; }
  .dashboard_item.share_of_renewable_energy_step_4 {
    background: #f5f5f5 url(/images/layout/flat/gauge_4.png) 5px center no-repeat; }
  .dashboard_item.share_of_renewable_energy_step_5 {
    background: #f5f5f5 url(/images/layout/flat/gauge_5.png) 5px center no-repeat; }
  .dashboard_item.share_of_renewable_energy_step_6 {
    background: #f5f5f5 url(/images/layout/flat/gauge_6.png) 5px center no-repeat; }
  .dashboard_item.area_footprint_per_nl_step_0 {
    background: #f5f5f5 url(/images/layout/flat/gauge_6.png) 5px center no-repeat; }
  .dashboard_item.area_footprint_per_nl_step_1 {
    background: #f5f5f5 url(/images/layout/flat/gauge_5.png) 5px center no-repeat; }
  .dashboard_item.area_footprint_per_nl_step_2 {
    background: #f5f5f5 url(/images/layout/flat/gauge_4.png) 5px center no-repeat; }
  .dashboard_item.area_footprint_per_nl_step_3 {
    background: #f5f5f5 url(/images/layout/flat/gauge_3.png) 5px center no-repeat; }
  .dashboard_item.area_footprint_per_nl_step_4 {
    background: #f5f5f5 url(/images/layout/flat/gauge_2.png) 5px center no-repeat; }
  .dashboard_item.area_footprint_per_nl_step_5 {
    background: #f5f5f5 url(/images/layout/flat/gauge_1.png) 5px center no-repeat; }
  .dashboard_item.area_footprint_per_nl_step_6 {
    background: #f5f5f5 url(/images/layout/flat/gauge_0.png) 5px center no-repeat; }
