body#sessions_new #content {
  background-color: #dddddd;
  border: 1px solid #cccccc; }
  body#sessions_new #content h2 {
    padding: 10px;
    font-size: 18px;
    background-color: white; }
  body#sessions_new #content form {
    padding: 10px; }
body#sessions_new footer {
  padding: 6px;
  border: 1px solid #cccccc;
  border-top: none; }
