.total_amount {
  padding: 5px;
  height: 30px; }
  .total_amount h4 {
    font-weight: bold; }

.graph_shaded .total_amount {
  background: #fef4cb; }
.graph_shaded ul.chart li.oil {
  background: #c8cac9; }
.graph_shaded ul.chart li.gas {
  background: #a4deec; }
.graph_shaded ul.chart li.coal {
  background: #d2bcb8; }
.graph_shaded ul.chart li.nuclear {
  background: #fbd5a8; }
.graph_shaded ul.chart li.renewable {
  background: #a6cdbe; }
.graph_shaded ul.chart li.money {
  background: #e6ee97; }
.graph_shaded ul.chart li.wind {
  background: #a6cdbe; }
.graph_shaded ul.chart li.solar {
  background: #74b29c; }
.graph_shaded ul.chart li.biomass {
  background: #389776; }
.graph_shaded ul.chart li span.label {
  display: none; }

.graph_normal .total_amount {
  background: #fdd52c; }
.graph_normal ul.chart li.oil {
  background: #57585a; }
.graph_normal ul.chart li.gas {
  background: #2a9ac3; }
.graph_normal ul.chart li.coal {
  background: #71362b; }
.graph_normal ul.chart li.nuclear {
  background: #ee8208; }
.graph_normal ul.chart li.renewable {
  background: #1e693b; }
.graph_normal ul.chart li.money {
  background: #bed509; }
.graph_normal ul.chart li.wind {
  background: #a6cdbe; }
.graph_normal ul.chart li.solar {
  background: #74b29c; }
.graph_normal ul.chart li.biomass {
  background: #389776; }

.charts_container {
  color: white; }
  .charts_container .chart_canvas_mix, .charts_container .chart_canvas_money {
    float: left;
    height: 400px;
    position: relative; }
    .charts_container .chart_canvas_mix ul.chart, .charts_container .chart_canvas_money ul.chart {
      position: absolute;
      bottom: 0;
      width: 100%; }
      .charts_container .chart_canvas_mix ul.chart li.serie, .charts_container .chart_canvas_money ul.chart li.serie {
        float: left;
        width: 100%;
        margin-top: 2px;
        font-size: 10px; }
  .charts_container .chart_canvas_mix {
    margin-right: 5px;
    width: 50px; }
  .charts_container .chart_canvas_money {
    width: 10px; }
  .charts_container .renewables_float {
    width: 80px;
    position: absolute;
    display: none;
    z-index: 2; }
